## -*- coding: utf-8 -*-

%if c.journal_day_aggreagate:
    %for day,items in c.journal_day_aggreagate:
    <div class="journal_day">${day}</div>
        % for entry in items:
        <div style="padding:10px">
            <div class="gravatar">
                <img alt="gravatar" src="${h.gravatar_url(entry.user.email,24)}"/>
            </div>
            <div>${entry.user.name} ${entry.user.lastname}</div>
            <div class="journal_action">${h.action_parser(entry)}</div>
            <div class="journal_icon">${h.action_parser_icon(entry)}</div>
            <div class="journal_repo">
                <span class="journal_repo_name">
                %if entry.repository:
                  ${h.link_to(entry.repository.repo_name,
                              h.url('summary_home',repo_name=entry.repository.repo_name))}
                %else:
                  ${entry.repository_name}
                %endif             
                </span> - <span title="${entry.action_date}">${h.age(entry.action_date)}</span>
            </div>
        </div>
        <div style="clear:both;border-bottom:1px dashed #DDD;padding:3px 3px;margin:0px 10px 0px 10px"></div>
        %endfor
    %endfor
    
<div class="pagination-wh pagination-left">
<script type="text/javascript">
  var data_div = 'journal';
  YAHOO.util.Event.onDOMReady(function(){
    YAHOO.util.Event.addListener(YAHOO.util.Dom.getElementsByClassName('pager_link'),"click",function(){
            YAHOO.util.Dom.setStyle(data_div,'opacity','0.3');});});
</script>
${c.journal_pager.pager('$link_previous ~2~ $link_next',     
onclick="""YAHOO.util.Connect.asyncRequest('GET','$partial_url',{
success:function(o){YAHOO.util.Dom.get(data_div).innerHTML=o.responseText;
show_more_event();
tooltip_activate();
YUE.on(YAHOO.util.Dom.getElementsByClassName('pager_link'),"click",function(){
        YAHOO.util.Dom.setStyle(data_div,'opacity','0.3');});       
YAHOO.util.Dom.setStyle(data_div,'opacity','1');}},null); return false;""")}
</div>
    
%else:
    ${_('No entries yet')}
%endif
            
<script type="text/javascript">show_more_event();</script>