div.diffblock {
    overflow: auto;
    padding: 0px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    font-size: 100%;
    line-height: 100%;
    /* new */
    line-height: 125%;
}
div.diffblock .code-header{
	border-bottom: 1px solid #CCCCCC;
	background: #EEEEEE;
	padding:10px 0 10px 0;
}
div.diffblock .code-header div{
	margin-left:25px;
	font-weight: bold;
}
div.diffblock .code-body{
	background: #FFFFFF;
}
div.diffblock pre.raw{
	background: #FFFFFF;
	color:#000000;
}

table.code-difftable{
	border-collapse: collapse;
	width: 99%;
}
table.code-difftable td:target *{
	background:  repeat scroll 0 0 #FFFFBE !important;
	text-decoration: underline;
}

table.code-difftable td {
    padding: 0 !important; 
    background: none !important; 
    border:0 !important;    
}


.code-difftable .context{
	background:none repeat scroll 0 0 #DDE7EF;
}
.code-difftable .add{
	background:none repeat scroll 0 0 #DDFFDD;
}
.code-difftable .add ins{
	background:none repeat scroll 0 0 #AAFFAA;
	text-decoration:none;
}

.code-difftable .del{
	background:none repeat scroll 0 0 #FFDDDD;
}
.code-difftable .del del{
	background:none repeat scroll 0 0 #FFAAAA;
	text-decoration:none;
}

.code-difftable .lineno{
	background:none repeat scroll 0 0 #EEEEEE !important;
	padding-left:2px;
	padding-right:2px;
	text-align:right;
	width:30px;
	-moz-user-select:none;
	-webkit-user-select: none;
}
.code-difftable .new {
	border-right: 1px solid #CCC !important;
}
.code-difftable .old {
    border-right: 1px solid #CCC !important;
}
.code-difftable .lineno pre{
	color:#747474 !important;
	font:11px "Bitstream Vera Sans Mono",Monaco,"Courier New",Courier,monospace !important;
	letter-spacing:-1px;
	text-align:right;
	width:20px;
}
.code-difftable .lineno a{
font-weight: 700;
cursor: pointer;
}
.code-difftable .code td{
	margin:0;
	padding: 0;
}
.code-difftable .code pre{
	margin:0;
	padding:0;
}

.code { 
	display: block;
	width: 100%;
}
.code-diff {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 2px solid #ccc;
}
.code-diff pre, .line pre { 
	padding: 3px;
    margin: 0;
}
.lineno a { 
	text-decoration: none; 
}

.line{
	padding:0;
	margin:0;
}