div.codeblock {
    overflow: auto;
    padding: 0px;
    border: 1px solid #ccc;
    background: #f8f8f8;
    font-size: 100%;
    line-height: 100%;
    /* new */
    line-height: 125%;
}
div.codeblock .code-header{
	border-bottom: 1px solid #CCCCCC;
	background: #EEEEEE;
	padding:10px 0 10px 0;
}
div.codeblock .code-header .revision{
	margin-left:25px;
	font-weight: bold;
}
div.codeblock .code-header .commit{
	margin-left:25px;
	font-weight: normal;
	white-space:pre;
}

div.codeblock .code-body table{
    width: 0 !important;
    border: 0px !important;
}
div.codeblock .code-body table td {
	border: 0px !important;
}
div.code-body {
	background-color: #FFFFFF;
}
div.code-body pre .match{
	background-color: #FAFFA6;
}
div.code-body pre .break{
	background-color: #DDE7EF;
	width: 100%;
	color: #747474;
	display: block;
	
}
div.annotatediv{
	margin-left:2px;
	margin-right:4px;
}
.code-highlight {
    padding: 0px;
    margin-top: 5px;
    margin-bottom: 5px;
    border-left: 2px solid #ccc;
}
.code-highlight pre, .linenodiv pre { 
	padding: 5px;
    margin: 0;
}
.code-highlight pre div:target { 
    background-color: #FFFFBE !important;
}
    
.linenos a { text-decoration: none; }

.code { display: block; }
.code-highlight .hll { background-color: #ffffcc }
.code-highlight .c { color: #408080; font-style: italic } /* Comment */
.code-highlight .err { border: 1px solid #FF0000 } /* Error */
.code-highlight .k { color: #008000; font-weight: bold } /* Keyword */
.code-highlight .o { color: #666666 } /* Operator */
.code-highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.code-highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.code-highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.code-highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.code-highlight .gd { color: #A00000 } /* Generic.Deleted */
.code-highlight .ge { font-style: italic } /* Generic.Emph */
.code-highlight .gr { color: #FF0000 } /* Generic.Error */
.code-highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.code-highlight .gi { color: #00A000 } /* Generic.Inserted */
.code-highlight .go { color: #808080 } /* Generic.Output */
.code-highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.code-highlight .gs { font-weight: bold } /* Generic.Strong */
.code-highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.code-highlight .gt { color: #0040D0 } /* Generic.Traceback */
.code-highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.code-highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.code-highlight .kn { color: #008000; font-weight: bold } /* Keyword.Namespace */
.code-highlight .kp { color: #008000 } /* Keyword.Pseudo */
.code-highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.code-highlight .kt { color: #B00040 } /* Keyword.Type */
.code-highlight .m { color: #666666 } /* Literal.Number */
.code-highlight .s { color: #BA2121 } /* Literal.String */
.code-highlight .na { color: #7D9029 } /* Name.Attribute */
.code-highlight .nb { color: #008000 } /* Name.Builtin */
.code-highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.code-highlight .no { color: #880000 } /* Name.Constant */
.code-highlight .nd { color: #AA22FF } /* Name.Decorator */
.code-highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.code-highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.code-highlight .nf { color: #0000FF } /* Name.Function */
.code-highlight .nl { color: #A0A000 } /* Name.Label */
.code-highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.code-highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.code-highlight .nv { color: #19177C } /* Name.Variable */
.code-highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.code-highlight .w { color: #bbbbbb } /* Text.Whitespace */
.code-highlight .mf { color: #666666 } /* Literal.Number.Float */
.code-highlight .mh { color: #666666 } /* Literal.Number.Hex */
.code-highlight .mi { color: #666666 } /* Literal.Number.Integer */
.code-highlight .mo { color: #666666 } /* Literal.Number.Oct */
.code-highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.code-highlight .sc { color: #BA2121 } /* Literal.String.Char */
.code-highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.code-highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.code-highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.code-highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.code-highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.code-highlight .sx { color: #008000 } /* Literal.String.Other */
.code-highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.code-highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.code-highlight .ss { color: #19177C } /* Literal.String.Symbol */
.code-highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.code-highlight .vc { color: #19177C } /* Name.Variable.Class */
.code-highlight .vg { color: #19177C } /* Name.Variable.Global */
.code-highlight .vi { color: #19177C } /* Name.Variable.Instance */
.code-highlight .il { color: #666666 } /* Literal.Number.Integer.Long */
