## -*- coding: utf-8 -*-

<%inherit file="/base/base.html"/>

<%def name="title()">
${c.repo_name} ${_('Changelog')} - ${c.rhodecode_name}
</%def>

<%def name="breadcrumbs_links()">
    ${h.link_to(u'Home',h.url('/'))}
    &raquo;
    ${h.link_to(c.repo_name,h.url('summary_home',repo_name=c.repo_name))}
    &raquo;
    ${_('Changelog')} - ${_('showing ')} ${c.size if c.size <= c.total_cs else c.total_cs} ${_('out of')} ${c.total_cs} ${_('revisions')}  
</%def>

<%def name="page_nav()">
	${self.menu('changelog')}     
</%def>

<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>
    <div class="table">
		% if c.pagination:
			<div id="graph">
				<div id="graph_nodes">
					<canvas id="graph_canvas"></canvas>
				</div>
				<div id="graph_content">
					<div class="container_header">
				        ${h.form(h.url.current(),method='get')}
				        <div class="info_box">
				          ${h.submit('set',_('Show'),class_="ui-button-small")}
				          ${h.text('size',size=1,value=c.size)}
				          <span class="rev">${_('revisions')}</span>
				        </div>
				        ${h.end_form()}
					<div id="rev_range_container" style="display:none"></div>
					</div>
					
				%for cnt,cs in enumerate(c.pagination):
					<div id="chg_${cnt+1}" class="container">
						<div class="left">
							<div class="date">
							${h.checkbox(cs.short_id,class_="changeset_range")}
							<span>${_('commit')} ${cs.revision}: ${h.short_id(cs.raw_id)}@${cs.date}</span>
							</div>
							<div class="author">
								<div class="gravatar">
									<img alt="gravatar" src="${h.gravatar_url(h.email(cs.author),16)}"/>
								</div>
								<div title="${h.email_or_none(cs.author)}" class="user">${h.person(cs.author)}</div>
								##<span><a href="mailto:${h.email_or_none(cs.author)}">${h.email_or_none(cs.author)}</a></span><br/>
							</div>
							<div class="message">${h.link_to(h.wrap_paragraphs(cs.message),h.url('changeset_home',repo_name=c.repo_name,revision=cs.raw_id))}</div>
						</div>	
						<div class="right">
									<div id="${cs.raw_id}_changes_info" class="changes">
                                        <span id="${cs.raw_id}" class="changed_total tooltip" title="${_('Affected number of files, click to show more details')}">${len(cs.affected_files)}</span>
									</div>					
										%if len(cs.parents)>1:
										<div class="merge">
											${_('merge')}<img alt="merge" src="${h.url('/images/icons/arrow_join.png')}"/>
										</div>
										%endif
								   %if cs.parents:							
									%for p_cs in reversed(cs.parents):
										<div class="parent">${_('Parent')} ${p_cs.revision}: ${h.link_to(h.short_id(p_cs.raw_id),
											h.url('changeset_home',repo_name=c.repo_name,revision=p_cs.raw_id),title=p_cs.message)}
										</div>
									%endfor
								   %else:	
                                        <div class="parent">${_('No parents')}</div>   
                                   %endif  
                    									
								<span class="logtags">
									%if cs.branch:
									<span class="branchtag" title="${'%s %s' % (_('branch'),cs.branch)}">
									   ${h.link_to(cs.branch,h.url('files_home',repo_name=c.repo_name,revision=cs.raw_id))}</span>
									%endif
									%for tag in cs.tags:
										<span class="tagtag"  title="${'%s %s' % (_('tag'),tag)}">
										${h.link_to(tag,h.url('files_home',repo_name=c.repo_name,revision=cs.raw_id))}</span>
									%endfor
								</span>																	
						</div>				
					</div>
					
				%endfor
				<div class="pagination-wh pagination-left">
					${c.pagination.pager('$link_previous ~2~ $link_next')}
				</div>			
				</div>
			</div>
			
			<script type="text/javascript" src="${h.url('/js/graph.js')}"></script>
			<script type="text/javascript">
				YAHOO.util.Event.onDOMReady(function(){
					
                    //Monitor range checkboxes and build a link to changesets
                    //ranges 
                    var checkboxes = YUD.getElementsByClassName('changeset_range');
                    var url_tmpl = "${h.url('changeset_home',repo_name=c.repo_name,revision='__REVRANGE__')}";
                    YUE.on(checkboxes,'click',function(e){      
                        var checked_checkboxes = [];
                        for (pos in checkboxes){
                            if(checkboxes[pos].checked){
                                checked_checkboxes.push(checkboxes[pos]);
                            }
                        }
                        if(checked_checkboxes.length>1){
                        	var rev_end = checked_checkboxes[0].name;
                        	var rev_start = checked_checkboxes[checked_checkboxes.length-1].name;
                        	
                            var url = url_tmpl.replace('__REVRANGE__',
                            		rev_start+'...'+rev_end);
                            
                        var link = "<a href="+url+">${_('Show selected changes __S -> __E')}</a>"
                        link = link.replace('__S',rev_start);
                        link = link.replace('__E',rev_end);
                        YUD.get('rev_range_container').innerHTML = link;
                        YUD.setStyle('rev_range_container','display','');
                        }
                        else{
                        	YUD.setStyle('rev_range_container','display','none');
                        	
                        }
                    });					
					
                    //Fetch changeset details 
                    YUE.on(YUD.getElementsByClassName('changed_total'),'click',function(e){
                    	var id = e.currentTarget.id
                    	var url = "${h.url('changelog_details',repo_name=c.repo_name,cs='__CS__')}"
                    	var url = url.replace('__CS__',id);
                    	ypjax(url,id+'_changes_info',function(){tooltip_activate()});
                    });
                    
                    
					function set_canvas(heads) {
						var c = document.getElementById('graph_nodes');
						var t = document.getElementById('graph_content');
						canvas = document.getElementById('graph_canvas');
						var div_h = t.clientHeight;
						c.style.height=div_h+'px';
						canvas.setAttribute('height',div_h);
						c.style.height=max_w+'px';
						canvas.setAttribute('width',max_w);
					};
					var heads = 1;
					var max_heads = 0;
					var jsdata = ${c.jsdata|n};
					
					for( var i=0;i<jsdata.length;i++){
					    var m = Math.max.apply(Math, jsdata[i][1]);
					    if (m>max_heads){
					        max_heads = m;
					    }
					}
					var max_w = Math.max(100,max_heads*25);
					set_canvas(max_w);
					
					var r = new BranchRenderer();
					r.render(jsdata,max_w);
					
				});
			</script>
		%else:
			${_('There are no changes yet')}
		%endif  
    </div>
</div>    
</%def>