## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>
<%def name="title()">
   ${_('Search')}
   ${'"%s"' % c.cur_query if c.cur_query else None}
	%if c.repo_name:
		${_('in repository: ') + c.repo_name}
	%else:
		${_('in all repositories')}
	%endif
	- ${c.rhodecode_name}
</%def>
<%def name="breadcrumbs()">
	${c.rhodecode_name}
</%def>
<%def name="page_nav()">
	${self.menu('home')}
</%def>
<%def name="main()">

<div class="box">
	<!-- box / title -->
	<div class="title">
		<h5>${_('Search')}
		%if c.repo_name:
			${_('in repository: ') + c.repo_name}
		%else:
			${_('in all repositories')}
		%endif
		</h5>
	</div>
	<!-- end box / title -->
	%if c.repo_name:
		${h.form(h.url('search_repo',search_repo=c.repo_name),method='get')}
	%else:
		${h.form(h.url('search'),method='get')}
	%endif
	<div class="form">
		<div class="fields">
			<div class="field field-first field-noborder">
             <div class="label">
                 <label for="q">${_('Search term')}</label>
             </div>
				<div class="input">${h.text('q',c.cur_query,class_="small")}
					<div class="button highlight">
						<input type="submit" value="${_('Search')}" class="ui-button"/>
					</div>
				</div>
				<div style="font-weight: bold;clear:Both;margin-left:200px">${c.runtime}</div>
			</div>

			<div class="field">
	            <div class="label">
	                <label for="type">${_('Search in')}</label>
	            </div>
                <div class="select">
                    ${h.select('type',c.cur_type,[('content',_('File contents')),
                        ##('commit',_('Commit messages')),
                        ('path',_('File names')),
                        ##('repository',_('Repository names')),
                        ])}
                </div>
             </div>

		</div>
	</div>
	${h.end_form()}

    %if c.cur_search == 'content':
        <%include file='search_content.html'/>
    %elif c.cur_search == 'path':
        <%include file='search_path.html'/>
    %elif c.cur_search == 'commit':
        <%include file='search_commit.html'/>
    %elif c.cur_search == 'repository':
        <%include file='search_repository.html'/>
    %endif
</div>

</%def>
