##content highligthing

%for cnt,sr in enumerate(c.formated_results):
    %if h.HasRepoPermissionAny('repository.write','repository.read','repository.admin')(sr['repository'],'search results check'):
    <div class="table">
        <div id="body${cnt}" class="codeblock">
            <div class="code-header">
                <div class="search-path">${h.link_to(h.literal('%s &raquo; %s' % (sr['repository'],sr['f_path'])),
                h.url('files_home',repo_name=sr['repository'],revision='tip',f_path=sr['f_path']))}
                </div>
            </div>
            <div class="search-code-body">
                <pre>${h.literal(sr['content_short_hl'])}</pre>
            </div>
        </div>
    </div>
    %else:
        %if cnt == 0:
        <div class="table">
            <div id="body${cnt}" class="codeblock">
                <div class="error">${_('Permission denied')}</div>
            </div>
        </div>
        %endif

    %endif
%endfor
%if c.cur_query and c.formated_results:
<div class="pagination-wh pagination-left" style="padding-left:16px">
    ${c.formated_results.pager('$link_previous ~2~ $link_next')}
</div>
%endif
