## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
  %if c.repo_name:
    ${_('Search repository')} ${c.repo_name} &middot; ${c.rhodecode_name}
  %else:
    ${_('Search in all repositories')}
  %endif
</%def>

<%def name="breadcrumbs_links()">
  %if c.repo_name:
    ${_('Search')}
  %else:
    ${_('Search in all repositories')}
  %endif
  %if c.cur_query:
    &raquo;
    ${c.cur_query}
  %endif
</%def>

<%def name="page_nav()">
    %if c.repo_name:
    ${self.menu('repositories')}
    %else:
    ${self.menu('search')}
    %endif
</%def>
<%def name="main()">
%if c.repo_name:
${self.repo_context_bar('options')}
%endif
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>
    <!-- end box / title -->
    %if c.repo_name:
        ${h.form(h.url('search_repo',repo_name=c.repo_name),method='get')}
    %else:
        ${h.form(h.url('search'),method='get')}
    %endif
    <div class="form">
        <div class="fields">
            <div class="field field-first field-noborder">
             <div class="label">
                 <label for="q">${_('Search term')}</label>
             </div>
                <div class="input">${h.text('q',c.cur_query,class_="small")}
                    <div class="button highlight">
                        <input type="submit" value="${_('Search')}" class="ui-button"/>
                    </div>
                </div>
                <div style="font-weight: bold;clear:both;margin-left:200px">${c.runtime}</div>
            </div>

            <div class="field">
                <div class="label">
                    <label for="type">${_('Search in')}</label>
                </div>
                <div class="select">
                    ${h.select('type',c.cur_type,[('content',_('File contents')),
                        ('commit',_('Commit messages')),
                        ('path',_('File names')),
                        ##('repository',_('Repository names')),
                        ])}
                </div>
             </div>

        </div>
    </div>
    ${h.end_form()}
    <div class="search">
    %if c.cur_type == 'content':
        <%include file='search_content.html'/>
    %elif c.cur_type == 'path':
        <%include file='search_path.html'/>
    %elif c.cur_type == 'commit':
        <%include file='search_commit.html'/>
    %elif c.cur_type == 'repository':
        <%include file='search_repository.html'/>
    %endif
    </div>
</div>

</%def>
