[hooks]
#to do push with autoupdate
changegroup = hg update >&2

[extensions]
hgext.highlight=
#hgk=

[web]
push_ssl = false
allow_archive = gz zip bz2
allow_push = *
templates=/home/marcink/python_workspace/hg_app/pylons_app/templates/
style = monoblue_custom
pygments_style = trac
staticurl = /hg_static/
baseurl = /

[paths]
/ = /home/marcink/python_workspace/**
