[hooks]
#to do push with autoupdate
changegroup = hg update >&2

[extensions]
hgext.highlight=
#hgk=

[web]
push_ssl = false
contact = develop@etelko.pl
allow_archive = gz zip bz2
allow_push = *
style = gitweb
pygments_style = trac
staticurl = /static
baseurl = /

[paths]
/ = /home/marcink/python_workspace/**
