include COPYING
include README.rst
include rhodecode/config/deployment.ini_tmpl

include hg_app_daemon
include hg_app_daemon2

recursive-include rhodecode/public/css *
recursive-include rhodecode/public/images *

include rhodecode/public/js/yui2.js
include rhodecode/public/js/excanvas.min.js
include rhodecode/public/js/yui.flot.js

recursive-include rhodecode/templates *