[hooks]
#to do push with autoupdate
changegroup = hg update >&2

[web]
#for http requests push ssl to false
push_ssl = false
allow_archive = gz zip bz2
allow_push = *
baseurl = /

[paths]
#this path should point to mercurial repositories remeber about '*' at the end
/ = /home/marcink/python_workspace/*
