## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Settings administration')}
</%def>

<%def name="breadcrumbs_links()">
    ${h.link_to(_('Admin'),h.url('admin_home'))} &raquo; ${_('Settings')}
</%def>

<%def name="page_nav()">
	${self.menu('admin')}
</%def>

<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}       
    </div>
    <!-- end box / title -->
    
    <h3>${_('Remap and rescan repositories')}</h3>
    ${h.form(url('admin_setting', setting_id='mapping'),method='put')}
    <div class="form">
        <!-- fields -->
        
        <div class="fields">
			<div class="field">
		        <div class="label label-checkbox">
		            <label for="destroy">${_('rescan option')}:</label>
		        </div>
		        <div class="checkboxes">
		            <div class="checkbox">
		                ${h.checkbox('destroy',True)}
		                <label for="checkbox-1">
		                <span class="tooltip" tooltip_title="${h.tooltip(_('In case a repository was deleted from filesystem and there are leftovers in the database check this option to scan obsolete data in database and remove it.'))}">
		                ${_('destroy old data')}</span> </label>
		            </div>
		        </div>
			</div>
                            
            <div class="buttons">
            ${h.submit('rescan','rescan repositories',class_="ui-button ui-widget ui-state-default ui-corner-all")}
            </div>                                                          
        </div>
    </div>  
    ${h.end_form()}
     
    <h3>${_('Global application settings')}</h3> 
    ${h.form(url('admin_setting', setting_id='global'),method='put')}
    <div class="form">
        <!-- fields -->
        
        <div class="fields">
             
             <div class="field">
                <div class="label">
                    <label for="input-small">${_('Application name')}:</label>
                </div>
                <div class="input">
                    ${h.text('hg_app_title',size=30)}
                </div>
             </div>
                          
            <div class="field">
                <div class="label">
                    <label for="input-small">${_('Realm text')}:</label>
                </div>
                <div class="input">
                    ${h.text('hg_app_realm',size=30)}
                </div>
            </div>
                                     
            <div class="buttons">
                ${h.submit('save','save settings',class_="ui-button ui-widget ui-state-default ui-corner-all")}
           </div>                                                          
        </div>
    </div>      
    ${h.end_form()}
    
</div>
</%def>    
