## -*- coding: utf-8 -*-
{header}
    <title>{repo|escape}: Mercurial repository not found</title>
</head>

<body>
<div id="container">
    <div class="page-header">
        <h1>Not found: {repo|escape}</h1>

        <div style="height: 50px">
        </div>
    </div>

    <h2 class="no-link no-border">Not Found</h2>
    <p class="normal">The specified repository "{repo|escape}" is unknown, sorry.</p>
    <p class="normal">
    <a href="/_admin/add_repo/{repo|escape}">Create "{repo|escape}" repository</a>

    </p>
    <p class="normal">Go back to the <a href="{url}">main repository list page</a>.</p>
    <div class="page-footer">
        <p>Mercurial Repository: {repo|escape}</p>
    </div>

    <div id="powered-by">
        <p><a href="http://mercurial.selenic.com/" title="Mercurial"><img src="{staticurl}hglogo.png" width=75 height=90 border=0 alt="mercurial"></a></p>

    </div>

    <div id="corner-top-left"></div>
    <div id="corner-top-right"></div>
    <div id="corner-bottom-left"></div>
    <div id="corner-bottom-right"></div>

</div>

</body>
</html>


