## -*- coding: utf-8 -*-

${h.form(url('repos'))}
<div class="form">
    <!-- fields -->
    <div class="fields">
        <div class="field">
            <div class="label">
                <label for="repo_name">${_('Name')}:</label>
            </div>
            <div class="input">
                ${h.text('repo_name',c.new_repo,class_="small")}
                %if not h.HasPermissionAll('hg.admin')('repo create form'):
                    ${h.hidden('user_created',True)}
                %endif
            </div>
         </div>
        <div class="field">
            <div class="label">
                <label for="clone_uri">${_('Clone from')}:</label>
            </div>
            <div class="input">
                ${h.text('clone_uri',class_="small")}
                <span class="help-block">${_('Optional http[s] url from which repository should be cloned.')}</span>
            </div>
         </div>
         <div class="field">
             <div class="label">
                 <label for="repo_group">${_('Repository group')}:</label>
             </div>
             <div class="input">
                 ${h.select('repo_group',request.GET.get('parent_group'),c.repo_groups,class_="medium")}
                 <span class="help-block">${_('Optional select a group to put this repository into.')}</span>
             </div>
         </div>
        <div class="field">
            <div class="label">
                <label for="repo_type">${_('Type')}:</label>
            </div>
            <div class="input">
                ${h.select('repo_type','hg',c.backends,class_="small")}
                <span class="help-block">${_('Type of repository to create.')}</span>
            </div>
         </div>
         <div class="field">
            <div class="label">
                <label for="landing_rev">${_('Landing revision')}:</label>
            </div>
            <div class="input">
                ${h.select('landing_rev','',c.landing_revs,class_="medium")}
                <span class="help-block">${_('Default revision for files page, downloads, whoosh and readme')}</span>
            </div>
        </div>
        <div class="field">
            <div class="label label-textarea">
                <label for="description">${_('Description')}:</label>
            </div>
            <div class="textarea text-area editor">
                ${h.textarea('description')}
                <span class="help-block">${_('Keep it short and to the point. Use a README file for longer descriptions.')}</span>
            </div>
         </div>
        <div class="field">
            <div class="label label-checkbox">
                <label for="private">${_('Private repository')}:</label>
            </div>
            <div class="checkboxes">
                ${h.checkbox('private',value="True")}
                <span class="help-block">${_('Private repositories are only visible to people explicitly added as collaborators.')}</span>
            </div>
         </div>
        <div class="buttons">
          ${h.submit('add',_('add'),class_="ui-button")}
        </div>
    </div>
</div>
${h.end_form()}
