<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Repository management')}
</%def>
<%def name="breadcrumbs_links()">
    ${h.link_to(u'Home',h.url('/'))}
    &raquo;
    ${h.link_to(c.repo_name,h.url('summary_home',repo_name=c.repo_name))}
    &raquo;
    ${'%s:  %s %s %s' % (_('File diff'),c.diff2,'&rarr;',c.diff1)|n}
</%def>

<%def name="page_nav()">
    ${self.menu('files')}     
</%def>
<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>
    <div class="table">
		<div id="body" class="diffblock">
			<div class="code-header">
				<div>
				<span>${h.link_to(c.f_path,h.url('files_home',repo_name=c.repo_name,
				revision=c.diff2.split(':')[1],f_path=c.f_path))}</span>
				 &raquo; <span>${h.link_to(_('diff'),
				h.url.current(diff2=c.diff2.split(':')[-1],diff1=c.diff1.split(':')[-1],diff='diff'))}</span>
				 &raquo; <span>${h.link_to(_('raw diff'),
				h.url.current(diff2=c.diff2.split(':')[-1],diff1=c.diff1.split(':')[-1],diff='raw'))}</span>
				 &raquo; <span>${h.link_to(_('download diff'),
				h.url.current(diff2=c.diff2.split(':')[-1],diff1=c.diff1.split(':')[-1],diff='download'))}</span>
				</div>
			</div>
			<div class="code-body">
		 			%if c.no_changes:
		            	${_('No changes')}
		            %else:        
						${c.cur_diff|n}
		            %endif
			</div>
		</div>   
    </div>
</div>    
</%def>  

   