## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Edit repository group')} ${c.repos_group.name} &middot; ${c.rhodecode_name}
</%def>

<%def name="breadcrumbs_links()">
    ${h.link_to(_('Admin'),h.url('admin_home'))}
    &raquo;
    ${h.link_to(_('Repository groups'),h.url('repos_groups'))}
    &raquo;
    ${_('Edit repository group %s') % c.repos_group.name}"
</%def>

<%def name="page_nav()">
    ${self.menu('admin')}
</%def>

<%def name="main()">
<div class="box box-left">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
        <ul class="links">
          <li>
            <span>${h.link_to(_(u'Add child group'),h.url('new_repos_group', parent_group=c.repos_group.group_id))}</span>
          </li>
        </ul>
    </div>
    <!-- end box / title -->
    ${h.form(url('repos_group',group_name=c.repos_group.group_name),method='put')}
    <div class="form">
        <!-- fields -->
        <div class="fields">
            <div class="field">
                <div class="label">
                    <label for="group_name">${_('Group name')}:</label>
                </div>
                <div class="input">
                    ${h.text('group_name',class_='medium')}
                </div>
            </div>

            <div class="field">
                <div class="label label-textarea">
                    <label for="group_description">${_('Description')}:</label>
                </div>
                <div class="textarea text-area editor">
                    ${h.textarea('group_description',cols=23,rows=5,class_="medium")}
                </div>
            </div>

            <div class="field">
                <div class="label">
                    <label for="group_parent_id">${_('Group parent')}:</label>
                </div>
                <div class="input">
                    ${h.select('group_parent_id','',c.repo_groups,class_="medium")}
                </div>
            </div>
            <div class="field">
                <div class="label label-checkbox">
                    <label for="enable_locking">${_('Enable locking')}:</label>
                </div>
                <div class="checkboxes">
                    ${h.checkbox('enable_locking',value="True")}
                    <span class="help-block">${_('Enable lock-by-pulling on group. This option will be applied to all other groups and repositories inside')}</span>
                </div>
            </div>
            <div class="buttons">
              ${h.submit('save',_('Save'),class_="ui-btn large")}
              ${h.reset('reset',_('Reset'),class_="ui-btn large")}
            </div>
        </div>
    </div>
    ${h.end_form()}
</div>
<div class="box box-right">
    <div class="title">
        <h5>${_('Permissions')}</h5>
    </div>
    ${h.form(url('set_repo_group_perm_member', group_name=c.repos_group.group_name),method='post')}
    <div class="form">
       <div class="fields">
            <div class="field">
                <div class="label">
                    <label for="input">${_('Permissions')}:</label>
                </div>
                <div class="input">
                    ${h.hidden('repo_private')}
                    <%include file="repos_group_edit_perms.html"/>
                </div>
            </div>
            <div class="buttons">
              ${h.submit('save',_('Save'),class_="ui-btn large")}
              ${h.reset('reset',_('Reset'),class_="ui-btn large")}
            </div>
       </div>
    </div>
    ${h.end_form()}
</div>
</%def>
