## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Repositories groups administration')} - ${c.rhodecode_name}
</%def>


<%def name="breadcrumbs_links()">
    ${h.link_to(_('Admin'),h.url('admin_home'))} &raquo; ${_('Repositories')}
</%def>
<%def name="page_nav()">
    ${self.menu('admin')}
</%def>
<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
        <ul class="links">
          <li>
            <span>${h.link_to(_(u'ADD NEW GROUP'),h.url('new_repos_group'))}</span>
          </li>          
        </ul>        
    </div>
    <!-- end box / title -->
    <div class="table">
           % if c.groups:
            <table class="table_disp">
            
                <thead>
                    <tr>
                        <th class="left"><a href="#">${_('Group name')}</a></th>
                        <th class="left"><a href="#">${_('Description')}</a></th>
                        <th class="left"><a href="#">${_('Number of repositories')}</a></th>
                        <th class="left">${_('action')}</th>
                    </tr>
                </thead>
                
                ## REPO GROUPS
                
                % for gr in c.groups:
                  <tr>
                      <td>
                          <div style="white-space: nowrap">
                          <img class="icon" alt="${_('Repositories group')}" src="${h.url('/images/icons/database_link.png')}"/>
                          ${h.link_to(h.literal(' &raquo; '.join([g.name for g in gr.parents+[gr]])),url('edit_repos_group',id=gr.group_id))}
                          </div>
                      </td>
                      <td>${gr.group_description}</td>
                      <td><b>${gr.repositories.count()}</b></td>
		               <td>
		                 ${h.form(url('repos_group', id=gr.group_id),method='delete')}
		                   ${h.submit('remove_%s' % gr.name,'delete',class_="delete_icon action_button",onclick="return confirm('"+_('Confirm to delete this group')+"');")}
		                 ${h.end_form()}
		               </td>                      
                  </tr>
                % endfor
                
            </table>
            % else:
                ${_('There are no repositories groups yet')}
            % endif
         
    </div>
</div> 
           
</%def>    
