<%!
from pylons_app.lib import filters
%>
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Changelog - %s') % c.repo_name}
</%def>
<%def name="breadcrumbs()">
    ${h.link_to(u'Home',h.url('/'))}
    / 
    ${h.link_to(c.repo_name,h.url('changelog_home',repo_name=c.repo_name))}
    /
    ${_('changelog')}
</%def>
<%def name="page_nav()">
	${self.menu('changelog')}     
</%def>

<%def name="main()">

    <h2 class="no-link no-border">${_('Changelog')} - ${_('showing last ')} ${c.size} ${_('revisions')}</h2>
	<noscript>${_('The revision graph only works with JavaScript-enabled browsers.')}</noscript>

<div id="graph">
	##<div id="graph_nodes" style="height:1000px">
	##	<canvas id="graph" width="160"></canvas>
	##</div>
	<div id="graph_content">
		<div class="container_header">
			${h.form(h.url.current(),method='get')}
				${_('Show')}: ${h.text('size',size=2,value=c.size)} ${_('revisions')}
				${h.submit('','set')}
			${h.end_form()}
		</div>
	%for cnt,cs in enumerate(c.pagination):
		<div class="container">
			<div class="left">
				<div class="date">${_('commit')} ${cs.revision}: ${cs.raw_id}@${cs.date}</div>
				<div class="author">${cs.author}</div>
				<div id="chg_${cnt}" class="message">
					${h.link_to(cs.message,
					h.url('changeset_home',repo_name=c.repo_name,revision=cs.raw_id),
					title=cs.message)}
				</div>
					<span class="logtags">
						<span class="branchtag">${cs.branch}</span>
						%for tag in cs.tags:
							<span class="tagtag">${tag}</span>
						%endfor
					</span>
			</div>	
			<div class="right">
						<div class="changes">
							<span class="removed" title="${_('removed')}">${len(cs.removed)}</span>
							<span class="changed" title="${_('changed')}">${len(cs.changed)}</span>
							<span class="added" title="${_('added')}">${len(cs.added)}</span>
						</div>					
							%if len(cs.parents)>1:
							<div class="merge">
								${_('merge')}<img alt="merge" src="/images/icons/arrow_join.png">
							</div>
							%endif						
						%for p_cs in reversed(cs.parents):
							<div class="parent">${_('Parent')} ${p_cs.revision}: ${h.link_to(p_cs.raw_id,
								h.url('changeset_home',repo_name=c.repo_name,revision=p_cs.raw_id),title=p_cs.message)}
							</div>
						%endfor								
			</div>				
		</div>
		
	%endfor
	</div>
</div>

##<script type="text/javascript" src="/js/graph2.js"></script>
##<script type="text/javascript" src="http://bitbucket-assets.s3.amazonaws.com/js/lib/bundle.160310Mar.js"></script>
##
##<script>
##<!-- hide script content
##
##var jsdata = ${c.jsdata|n};
##var r = new BranchRenderer();
##r.render(jsdata); 

##// stop hiding script -->
##</script>

<div>
	<h2>${c.pagination.pager('$link_previous ~2~ $link_next')}</h2>
</div>	
</%def>    