##usage:
## <%namespace name="comment" file="/changeset/changeset_file_comment.html"/>
## ${comment.comment_block(co)}
##
<%def name="comment_block(co)">
  <div class="comment" id="comment-${co.comment_id}">
  	<div class="meta">
  		<span class="user">
  			<img src="${h.gravatar_url(co.author.email, 20)}" />
  			${co.author.username}
  		</span>
  		<a href="${h.url.current(anchor='comment-%s' % co.comment_id)}"> ${_('commented on')} </a>
  		${h.short_id(co.revision)}
  		%if co.f_path:
  			${_(' in file ')}
  			${co.f_path}:L ${co.line_no}
  		%endif
  		<span class="date">
  			${h.age(co.modified_at)}
  		</span>
  	</div>
  	<div class="text">
  		%if h.HasPermissionAny('hg.admin', 'repository.admin')() or co.author.user_id == c.rhodecode_user.user_id:
  			<div class="buttons">
  				<span onClick="deleteComment(${co.comment_id})" class="delete-comment ui-button-small">${_('Delete')}</span>
  			</div>
  		%endif
  		${h.rst(co.text)|n}
  	</div>
  </div>
</%def>



<%def name="comment_inline_form()">
<div id='comment-inline-form-template' style="display:none">
  <div class="comment-inline-form">
      ${h.form(h.url('changeset_comment', repo_name=c.repo_name, revision=c.changeset.raw_id))}
      <div class="clearfix">
          <div class="comment-help">${_('Commenting on line')} {1} ${_('comments parsed using RST syntax')}</div>
              ${h.textarea('text')}
      </div>
      <div class="comment-button">
      <input type="hidden" name="f_path" value="{0}">
      <input type="hidden" name="line" value="{1}">            
      ${h.submit('save', _('Comment'), class_='ui-button-small')}
      ${h.reset('hide-inline-form', _('Hide'), class_='ui-button-small hide-inline-form')}
      </div>
      ${h.end_form()}
  </div>
</div>  
</%def>