<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('%s Pull Requests') % c.repo_name} &middot; ${c.rhodecode_name}
</%def>

<%def name="breadcrumbs_links()">
    ${_('Pull requests')}
</%def>

<%def name="main()">
${self.context_bar('showpullrequest')}
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>

    %for pr in c.pull_requests:
        <div>
          <h4  style="border:0px;padding:0px">
            %if pr.is_closed():
                <img src="${h.url('/images/icons/lock_go.png')}" title="${_('Closed')}"/>
            %endif
            <img src="${h.url('/images/icons/flag_status_%s.png' % str(pr.last_review_status))}" />
            <a href="${h.url('pullrequest_show',repo_name=c.repo_name,pull_request_id=pr.pull_request_id)}">
            ${_('Pull request #%s opened by %s on %s') % (pr.pull_request_id, pr.author.full_name, h.fmt_date(pr.created_on))}
            </a>
          </h4>
          <h5 style="border:0px;padding-bottom:0px">${_('Title')}: ${pr.title}</h5>
          <div style="padding:0px 24px">${pr.description}</div>
          <div style="border-bottom: 1px solid #DDD;margin:10px 20px;padding-bottom:10px"></div>
        </div>
    %endfor

</div>

</%def>
