<%inherit file="/base/base.html"/>

<%def name="title()">
    ${c.repo_name} ${_('Pull request #%s') % c.pull_request.pull_request_id}
</%def>

<%def name="breadcrumbs_links()">
    ${h.link_to(u'Home',h.url('/'))}
    &raquo;
    ${h.link_to(c.repo_name,h.url('changelog_home',repo_name=c.repo_name))}
    &raquo;
    ${_('Pull request #%s') % c.pull_request.pull_request_id}
</%def>

<%def name="main()">

<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>

    <h3>${_('Title')}: ${c.pull_request.title}</h3>
    <div class="changeset-status-container" style="float:left;padding:0px 20px 20px 20px">
        %if c.current_changeset_status:
          <div title="${_('Changeset status')}" class="changeset-status-lbl">[${h.changeset_status_lbl(c.current_changeset_status)}]</div>
          <div class="changeset-status-ico"><img src="${h.url('/images/icons/flag_status_%s.png' % c.current_changeset_status)}" /></div>
        %endif
    </div>
    <div style="padding:4px">
      <div>${h.fmt_date(c.pull_request.created_on)}</div>
    </div>

    ##DIFF

    <div class="table">
        <div id="body" class="diffblock">
            <div style="white-space:pre-wrap;padding:5px">${h.literal(c.pull_request.description)}</div>
        </div>
        <div id="changeset_compare_view_content">
            ##CS
            <div style="font-size:1.1em;font-weight: bold;clear:both;padding-top:10px">${_('Incoming changesets')}</div>
            <%include file="/compare/compare_cs.html" />

            ## FILES
            <div style="font-size:1.1em;font-weight: bold;clear:both;padding-top:10px">${_('Files affected')}</div>
            <div class="cs_files">
              %for fid, change, f, stat in c.files:
                  <div class="cs_${change}">
                    <div class="node">${h.link_to(h.safe_unicode(f),h.url.current(anchor=fid))}</div>
                    <div class="changes">${h.fancy_file_stats(stat)}</div>
                  </div>
              %endfor
            </div>
        </div>
    </div>
    <script>
    var _USERS_AC_DATA = ${c.users_array|n};
    var _GROUPS_AC_DATA = ${c.users_groups_array|n};
    </script>

    ## diff block
    <%namespace name="diff_block" file="/changeset/diff_block.html"/>
    %for fid, change, f, stat in c.files:
      ${diff_block.diff_block_simple([c.changes[fid]])}
    %endfor

    ## template for inline comment form
    <%namespace name="comment" file="/changeset/changeset_file_comment.html"/>
    ##${comment.comment_inline_form(c.changeset)}

    ## render comments main comments form and it status
    ${comment.comments(h.url('pullrequest_comment', repo_name=c.repo_name, pull_request_id=c.pull_request.pull_request_id),
                       c.current_changeset_status)}

</div>

<script type="text/javascript">


</script>

</%def>
