## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Edit user group')} ${c.users_group.users_group_name} &middot; ${c.rhodecode_name}
</%def>

<%def name="breadcrumbs_links()">
    ${h.link_to(_('Admin'),h.url('admin_home'))}
    &raquo;
    ${h.link_to(_('UserGroups'),h.url('users_groups'))}
    &raquo;
    ${_('Edit %s') % c.users_group.users_group_name}
</%def>

<%def name="page_nav()">
    ${self.menu('admin')}
</%def>

<%def name="main()">
<div class="box box-left" style="clear:left">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>
    <!-- end box / title -->
    ${h.form(url('users_group', id=c.users_group.users_group_id),method='put', id='edit_users_group')}
    <div class="form">
        <!-- fields -->
            <div class="fields">
                 <div class="field">
                    <div class="label">
                        <label for="users_group_name">${_('Group name')}:</label>
                    </div>
                    <div class="input">
                        ${h.text('users_group_name',class_='small')}
                    </div>
                 </div>

                 <div class="field">
                    <div class="label label-checkbox">
                        <label for="users_group_active">${_('Active')}:</label>
                    </div>
                    <div class="checkboxes">
                        ${h.checkbox('users_group_active',value=True)}
                    </div>
                 </div>
                <div class="field">
                    <div class="label">
                        <label for="users_group_active">${_('Members')}:</label>
                    </div>
                    <div class="select">
                        <table>
                                <tr>
                                    <td>
                                        <div>
                                            <div style="float:left">
                                                <div class="text" style="padding: 0px 0px 6px;">${_('Chosen group members')}</div>
                                                ${h.select('users_group_members',[x[0] for x in c.group_members],c.group_members,multiple=True,size=8,style="min-width:210px")}
                                               <div id="remove_all_elements" style="cursor:pointer;text-align:center">
                                                   ${_('Remove all elements')}
                                                   <img alt="remove" style="vertical-align:text-bottom" src="${h.url('/images/icons/arrow_right.png')}"/>
                                               </div>
                                            </div>
                                            <div style="float:left;width:20px;padding-top:50px">
                                                <img alt="add" id="add_element"
                                                    style="padding:2px;cursor:pointer"
                                                    src="${h.url('/images/icons/arrow_left.png')}"/>
                                                <br />
                                                <img alt="remove" id="remove_element"
                                                    style="padding:2px;cursor:pointer"
                                                    src="${h.url('/images/icons/arrow_right.png')}"/>
                                            </div>
                                            <div style="float:left">
                                                 <div class="text" style="padding: 0px 0px 6px;">${_('Available members')}</div>
                                                 ${h.select('available_members',[],c.available_members,multiple=True,size=8,style="min-width:210px")}
                                                 <div id="add_all_elements" style="cursor:pointer;text-align:center">
                                                       <img alt="add" style="vertical-align:text-bottom" src="${h.url('/images/icons/arrow_left.png')}"/>
                                                        ${_('Add all elements')}
                                                 </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                        </table>
                    </div>

                </div>
                <div class="buttons">
                  ${h.submit('Save',_('Save'),class_="ui-btn large")}
                </div>
            </div>
    </div>
${h.end_form()}
    <div class="group_members_wrap">
    % if c.group_members_obj:
      <ul class="group_members">
      %for user in c.group_members_obj:
        <li>
          <div class="group_member">
            <div class="gravatar"><img alt="gravatar" src="${h.gravatar_url(user.email,24)}"/> </div>
            <div>${h.link_to(user.username, h.url('edit_user',id=user.user_id))}</div>
            <div>${user.full_name}</div>
          </div>
        </li>
      %endfor
      </ul>
      %else:
        <span class="empty_data">${_('No members yet')}</span>
      %endif
    </div>
</div>

<div class="box box-right">
    <!-- box / title -->
    <div class="title">
        <h5>${_('Global Permissions')}</h5>
    </div>
    <%namespace name="dpb" file="/base/default_perms_box.html"/>
    ${dpb.default_perms_box(url('users_group_perm', id=c.users_group.users_group_id))}

    ## permissions overview
    <%namespace name="p" file="/base/perms_summary.html"/>
    ${p.perms_summary(c.permissions)}
</div>

<div class="box box-right" style="clear:right">
    <div class="title">
        <h5>${_('Permissions')}</h5>
    </div>
    ${h.form(url('set_user_group_perm_member', id=c.users_group.users_group_id),method='post')}
    <div class="form">
       <div class="fields">
            <div class="field">
                <div class="label">
                    <label for="input">${_('Permissions')}:</label>
                </div>
                <div class="input">
                    <%include file="user_group_edit_perms.html"/>
                </div>
            </div>
            <div class="buttons">
              ${h.submit('save',_('Save'),class_="ui-btn large")}
              ${h.reset('reset',_('Reset'),class_="ui-btn large")}
            </div>
       </div>
    </div>
    ${h.end_form()}
</div>

<script type="text/javascript">
  MultiSelectWidget('users_group_members','available_members','edit_users_group');
</script>
</%def>
