## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Administration')}
</%def>
<%def name="breadcrumbs()">
	${h.link_to(u'Admin',h.url('admin_home'))}
	 /  
</%def>
<%def name="page_nav()">
	${self.menu('admin')}
	${self.submenu('')}
</%def>
<%def name="main()">
    %if c.admin_user:
	    <div>
	        <h2>Welcome ${c.admin_username}</h2>
			    <div id="user_log">
					${c.log_data}
				</div>
	    </div>
    %else:
		<h2>${_('Sorry only admin users can acces this area')}</h2>
    %endif
    
</%def>