<h3 class="changelog"><a class="title" href="{url}rev/{node|short}{sessionvars%urlparameter}">{desc|strip|firstline|escape}<span class="logtags"> {inbranch%inbranchtag}{branches%branchtag}{tags%tagtag}</span></a></h3>
    <h4>{date|age} ago, by {author|obfuscate} [{date|rfc822date}] rev {rev}</h4>
    <p>{desc|strip|escape|addbreaks}</p>
<hr/>
