## -*- coding: utf-8 -*-
{header}
<div id="container">
    <div class="page-header">
        <h1><a href="{url}summary{sessionvars%urlparameter}">{repo|escape}</a> / file revision</h1>

        <ul class="object-tools">
            <li><a href="{url}summary{sessionvars%urlparameter}">summary</a></li>
            <li><a href="{url}shortlog{sessionvars%urlparameter}">shortlog</a></li>
            <li><a href="{url}changelog{sessionvars%urlparameter}">changelog</a></li>
            <li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">graph</a></li>
            <li><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
            <li><a href="{url}file/{node|short}{path|urlescape}{sessionvars%urlparameter}">files</a></li>
        </ul>
        <br class="clear"/>
        <ul class="object-tools" style="margin-top:-2em">
            <li class="current"><a href="{url}file/{node|short}/{file|urlescape}{sessionvars%urlparameter}">file</a></li>
            <li><a href="{url}log/{node|short}/{file|urlescape}{sessionvars%urlparameter}">revisions</a></li>
            <li><a href="{url}annotate/{node|short}/{file|urlescape}{sessionvars%urlparameter}">annotate</a></li>
            <li><a href="{url}diff/{node|short}/{file|urlescape}{sessionvars%urlparameter}">diff</a></li>
            <li><a href="{url}raw-file/{node|short}/{file|urlescape}">raw</a></li>
        </ul>
    </div>

   <div class="module">
    <h2 class="no-link no-border">{file|escape}@{node|short}, <span>{date|age} ago</span></h2>
    <h3 class="changeset">{file|escape}</h3>

    <dl class="overview ">
        <dt>author</dt>
        <dd>{author|obfuscate}</dd>
        <dt>date</dt>
        <dd>{date|date}</dd>
        {branch%filerevbranch}
        <dt>changeset {rev}</dt>
        <dd><a class="list" href="{url}rev/{node|short}{sessionvars%urlparameter}">{node|short}</a></dd>
        {parent%filerevparent}
        {child%filerevchild}
        <dt>permissions</dt>
        <dd>{permissions|permissions}</dd>
    </dl>

    <div class="source">
    <pre class="description">{desc|strip|escape|addbreaks}</pre>
    <table style="width:100%; class="module">
        <thead>
            <tr>
                <th style="width: 10px">#</th>
                <th> </th>
            </tr>
        </thead>
        <tbody>
            {text%fileline}
        </tbody>
    </table>
    </div>

    </div>

{footer}
