{header}
<div id="container">
    <div class="page-header">
        <h1><a href="{url}summary{sessionvars%urlparameter}">{repo|escape}</a> / file revisions</h1>

        <ul class="object-tools">
            <li><a href="{url}summary{sessionvars%urlparameter}">summary</a></li>
            <li><a href="{url}shortlog{sessionvars%urlparameter}">shortlog</a></li>
            <li><a href="{url}log{sessionvars%urlparameter}">changelog</a></li>
            <li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">graph</a></li>
            <li><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
            <li><a href="{url}file/{node|short}{path|urlescape}{sessionvars%urlparameter}">files</a></li>
        </ul>
        <br class="clear"/>
        <ul class="object-tools" style="margin-top:-2em">
            <li><a href="{url}file/{node|short}/{file|urlescape}{sessionvars%urlparameter}">file</a></li>
            <li class="current"><a href="{url}log/{node|short}/{file|urlescape}{sessionvars%urlparameter}">revisions</a></li>
            <li><a href="{url}annotate/{node|short}/{file|urlescape}{sessionvars%urlparameter}">annotate</a></li>
            <li><a href="{url}diff/{node|short}/{file|urlescape}{sessionvars%urlparameter}">diff</a></li>
            <li><a href="{url}rss-log/{node|short}/{file|urlescape}">rss</a></li>
        </ul>
    </div>


    <table class="module">
    <caption class="no-link no-border">{file|urlescape}</caption>
        <thead>
            <tr>
                <th>ago</th>
                <th>message</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {entries%filelogentry}
        </tbody>
    </table>
    </div>

    <div class="page-path">
    {nav%filenaventry}
    </div>

{footer}
