    <div class="page-footer">
        <p>
            Mercurial Repository: {repo|escape}
        </p>
        <ul class="object-tools">
            <li><a href="{url}rss-log">RSS</a></li>
            <li><a href="{url}atom-log">Atom</a></li>
            <li><a href="http://www.selenic.com/mercurial/" title="Mercurial">Powered by Mercurial</a></li>
        </ul>
        {motd}
    </div>
