{header}
<div id="container">
    <div class="page-header">
        <h1><a href="{url}summary{sessionvars%urlparameter}">{repo|escape}</a> / files</h1>

        <ul class="object-tools">
            <li><a href="{url}summary{sessionvars%urlparameter}">summary</a></li>
            <li><a href="{url}shortlog{sessionvars%urlparameter}">shortlog</a></li>
            <li><a href="{url}changelog{sessionvars%urlparameter}">changelog</a></li>
            <li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">graph</a></li>
            <li><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
            <li class="current"><a href="{url}file/{node|short}{sessionvars%urlparameter}">files</a></li>
        </ul>
        <br class="clear"/>
        <ul class="object-tools" style="margin-top:-2em">
            <li><a href="{url}rev/{node|short}{sessionvars%urlparameter}">changeset</a></li>
            {archives%archiveentry}
        </ul>
    </div>

    <div class="module">
        <h2>files</h2>
        <div class="breadcrumbs">{path|escape} <span class="logtags" style="color:#000000">{inbranch%inbranchtag}{branches%branchtag}{tags%tagtag}</span></div>
        <table width="100%" cellspacing="0">
        <thead>
        <tr>
            <th width="120px">perms</th>
            <th width="150px">modified</th>
            <th width="60px">size</th>
            <th></th>
            <th width="120px">&nbsp;</th>
        </tr>
        </thead>
        <tbody>
        <tr class="row#upparity#">
            <td>drwxr-xr-x</td>
            <td></td>
            <td></td>
            <td><a href="{url}file/{node|short}{up|urlescape}{sessionvars%urlparameter}">[up]</a></td>
            <td class="link">&nbsp;</td>
        </tr>
        {dentries%direntry}
        {fentries%fileentry}
        </tbody>
        </table>
    </div

{footer}
