## -*- coding: utf-8 -*-
{header}
<div id="container">
    <div class="page-header">
        <h1><a href="{url}summary{sessionvars%urlparameter}">{repo|escape}</a> / shortlog</h1>

        <ul class="object-tools">
            <li><a href="{url}summary{sessionvars%urlparameter}">summary</a></li>
            <li class="current"><a href="{url}shortlog">shortlog</a></li>
            <li><a href="{url}log{sessionvars%urlparameter}">changelog</a></li>
            <li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">graph</a></li>
            <li><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
            <li><a href="{url}file/{node|short}{sessionvars%urlparameter}">files</a></li>
        </ul>
        <br class="clear"/>
        <ul class="object-tools" style="margin-top:-2em">
            <li class="current"><a href="{url}rev/{node|short}">changeset</a></li>
            {archives%archiveentry}
        </ul>
    </div>

    <div id="changelist" class="module">
    <table cellspacing="0" id="changes_list">
    <caption>shortlog</caption>
    {entries%shortlogentry}
    </table>
    </div>

    <div class="page-path">
{changenav%navshortentry}
    </div>

{footer}
