## -*- coding: utf-8 -*-
{header}
<div id="container">
    <div class="page-header">
        <h1><a href="{url}summary{sessionvars%urlparameter}">{repo|escape}</a> / tags</h1>

        <ul class="object-tools">
            <li><a href="{url}summary{sessionvars%urlparameter}">summary</a></li>
            <li><a href="{url}shortlog{sessionvars%urlparameter}">shortlog</a></li>
            <li><a href="{url}changelog{sessionvars%urlparameter}">changelog</a></li>
            <li><a href="{url}graph/{node|short}{sessionvars%urlparameter}">graph</a></li>
            <li class="current"><a href="{url}tags{sessionvars%urlparameter}">tags</a></li>
            <li><a href="{url}file/{node|short}{sessionvars%urlparameter}">files</a></li>
        </ul>
    </div>

    <table cellspacing="0" class="module">
        <caption>tags</caption>
        {entries%tagentry}
    </table>

{footer}
