## -*- coding: utf-8 -*-
<%inherit file="base/root.html"/>

<%def name="title()">
    ${_('Sign In')} - ${c.rhodecode_name}
</%def>

<div id="login">
<div class="flash_msg">
    <% messages = h.flash.pop_messages() %>
    % if messages:
    <ul id="flash-messages">
        % for message in messages:
        <li class="${message.category}_msg">${message}</li>
        % endfor
    </ul>
    % endif
</div>          
    <!-- login -->
    <div class="title top-left-rounded-corner top-right-rounded-corner">
        <h5>${_('Sign In to')} ${c.rhodecode_name}</h5>
    </div>
    <div class="inner">            
        ${h.form(h.url.current(came_from=c.came_from))}
        <div class="form">
            <!-- fields -->

            <div class="fields">
                <div class="field">
                    <div class="label">
                        <label for="username">${_('Username')}:</label>
                    </div>
                    <div class="input">
                        ${h.text('username',class_='focus',size=40)}
                    </div>
                    
                </div>                     
                <div class="field">
                    <div class="label">
                        <label for="password">${_('Password')}:</label>
                    </div>
                    <div class="input">
                        ${h.password('password',class_='focus',size=40)}
                    </div>
                    
                </div>
                ##<div class="field">
                ##    <div class="checkbox">
                ##        <input type="checkbox" id="remember" name="remember" />
                ##        <label for="remember">Remember me</label>
                ##    </div>
                ##</div>
                <div class="buttons">
                    ${h.submit('sign_in',_('Sign In'),class_="ui-button")}
                </div>
            </div>
            <!-- end fields -->
            <!-- links -->
            <div class="links">
                ${h.link_to(_('Forgot your password ?'),h.url('reset_password'))}
                %if h.HasPermissionAny('hg.admin', 'hg.register.auto_activate', 'hg.register.manual_activate')():
                  / 
                 ${h.link_to(_("Don't have an account ?"),h.url('register'))}
                %endif
            </div>

            <!-- end links -->
        </div>
        ${h.end_form()}
        <script type="text/javascript">
        YUE.onDOMReady(function(){
        	YUD.get('username').focus();
        })
        </script>
    </div>
    <!-- end login -->
</div>
