## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" id="mainhtml">
    <head>
        <title>${_('Reset You password')} - ${c.rhodecode_name}</title>
        <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
        <link rel="icon" href="/images/hgicon.png" type="image/png" />
        <meta name="robots" content="index, nofollow"/>
            
        <!-- stylesheets -->
        <link rel="stylesheet" type="text/css" href="/css/style.css" media="screen" />

    </head>
    <body>
		<div id="register">
			
			<div class="title top-left-rounded-corner top-right-rounded-corner">
				<h5>${_('Reset You password to rhodecode')}</h5>
			</div>
			<div class="inner">
			    ${h.form(url('password_reset'))}
			    <div class="form">
			        <!-- fields -->
			        <div class="fields">
			            
			             <div class="field">
			                <div class="label">
			                    <label for="email">${_('Email address')}:</label>
			                </div>
			                <div class="input">
			                    ${h.text('email')}
			                </div>
			             </div>
			                        
			            <div class="buttons">
				            <div class="nohighlight">
				              ${h.submit('send','Reset my password',class_="ui-button ui-widget ui-state-default ui-corner-all")}
							  	<div class="activation_msg">${_('Your new password will be send to matching email address')}</div>
				            </div>
			            </div>             
			    	</div>
			    </div>
			    ${h.end_form()}
			</div>    
	    </div>
    </body>
</html>

