## -*- coding: utf-8 -*-
<%inherit file="base/root.html"/>

<%def name="title()">
    ${_('Reset your password')} - ${c.rhodecode_name}
</%def>

<div id="register">

	<div class="title top-left-rounded-corner top-right-rounded-corner">
		<h5>${_('Reset your password to')} ${c.rhodecode_name}</h5>
	</div>
	<div class="inner">
	    ${h.form(url('password_reset'))}
	    <div class="form">
	        <!-- fields -->
	        <div class="fields">

	             <div class="field">
	                <div class="label">
	                    <label for="email">${_('Email address')}:</label>
	                </div>
	                <div class="input">
	                    ${h.text('email')}
	                </div>
	             </div>

	            <div class="buttons">
		            <div class="nohighlight">
		              ${h.submit('send',_('Reset my password'),class_="ui-button")}
					  	<div class="activation_msg">${_('Password reset link will be send to matching email address')}</div>
		            </div>
	            </div>
	    	</div>
	    </div>
	    ${h.end_form()}
        <script type="text/javascript">
        YUE.onDOMReady(function(){
            YUD.get('email').focus();
        })
        </script>
	</div>
   </div>
