## -*- coding: utf-8 -*-

<li class="qfilter_rs">
<input type="text" 
style="border:0"        
value="quick filter..." 
name="filter" size="15" id="q_filter_rs" />
</li>
    
%for repo in c.repos_list:
     
      %if repo['dbrepo']['private']:
         <li>
             <img src="${h.url("/images/icons/lock.png")}" alt="${_('Private repository')}" class="repo_switcher_type"/>
             ${h.link_to(repo['name'],h.url('summary_home',repo_name=repo['name']),class_="repo_name %s" % repo['dbrepo']['repo_type'])}
          </li>
      %else:
         <li>
             <img src="${h.url("/images/icons/lock_open.png")}" alt="${_('Public repository')}" class="repo_switcher_type" />
             ${h.link_to(repo['name'],h.url('summary_home',repo_name=repo['name']),class_="repo_name %s" % repo['dbrepo']['repo_type'])}
         </li>
      %endif  
%endfor