## -*- coding: utf-8 -*-
% if c.repo_changesets:
<table>
	<tr>
		<th class="left">${_('commit message')}</th>
		<th class="left">${_('age')}</th>
		<th class="left">${_('author')}</th>
		<th class="left">${_('revision')}</th>
		<th class="left">${_('branch')}</th>
		<th class="left">${_('tags')}</th>
		<th class="left">${_('links')}</th>
		
	</tr>
%for cnt,cs in enumerate(c.repo_changesets):
	<tr class="parity${cnt%2}">
        <td>
            ${h.link_to(h.truncate(cs.message,60),
            h.url('changeset_home',repo_name=c.repo_name,revision=cs.raw_id),
            title=cs.message)}
        </td>
        <td><span class="tooltip" tooltip_title="${cs.date}">
                      ${h.age(cs.date)}</span>
        </td>        	
		<td title="${cs.author}">${h.person(cs.author)}</td>
		<td>r${cs.revision}:${h.short_id(cs.raw_id)}</td>
		<td>
			<span class="logtags">
				<span class="branchtag">${cs.branch}</span>
			</span>
		</td>
		<td>
			<span class="logtags">
				%for tag in cs.tags:
					<span class="tagtag">${tag}</span>
				%endfor
			</span>
		</td>
		<td class="nowrap">
		${h.link_to(_('changeset'),h.url('changeset_home',repo_name=c.repo_name,revision=cs.raw_id))}
		|
		${h.link_to(_('files'),h.url('files_home',repo_name=c.repo_name,revision=cs.raw_id))}
		</td>
	</tr>
%endfor

</table>

<script type="text/javascript">
  var data_div = 'shortlog_data';
  YAHOO.util.Event.onDOMReady(function(){
    YAHOO.util.Event.addListener(YAHOO.util.Dom.getElementsByClassName('pager_link'),"click",function(){
            YAHOO.util.Dom.setStyle('shortlog_data','opacity','0.3');});});
</script>

<div class="pagination-wh pagination-left">
${c.repo_changesets.pager('$link_previous ~2~ $link_next',     
onclick="""YAHOO.util.Connect.asyncRequest('GET','$partial_url',{
success:function(o){YAHOO.util.Dom.get(data_div).innerHTML=o.responseText;
YAHOO.util.Event.addListener(YAHOO.util.Dom.getElementsByClassName('pager_link'),"click",function(){
        YAHOO.util.Dom.setStyle(data_div,'opacity','0.3');});       
YAHOO.util.Dom.setStyle(data_div,'opacity','1');}},null); return false;""")}
</div>
%else:
    ${_('There are no changes yet')}
%endif
