## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('%s Shortlog') % c.repo_name} - ${c.rhodecode_name}
</%def>


<%def name="breadcrumbs_links()">
    %if c.file_history:
        ${h.link_to(_('Shortlog'),h.url('shortlog_home',repo_name=c.repo_name))}
        &raquo;
        ${c.file_history}
    %else:
        ${_('Shortlog')}
    %endif
</%def>

<%def name="page_nav()">
    ${self.menu('shortlog')}
</%def>
<%def name="main()">
${self.context_bar('options')}
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>
    <!-- end box / title -->
    <div class="table">
        <div id="shortlog_data">
            ${c.shortlog_data}
        </div>
    </div>
</div>
</%def>
