/*** Initial Settings ***/
#mainhtml {
	margin: 15px 50px;
	background: #DBD4C6;
	font-family: sans-serif;
}

#mainhtml .breadcrumbs a:HOVER {
	text-decoration: underline;
}

a {
	color: #556CB5;
	text-decoration: none;
}

a:HOVER {
	text-decoration: underline;
}

/*** end of Initial Settings ***/ 

/*** ***/
.table_disp {
	border-left: 0px solid #666666;
	border-bottom: 1px solid #666666;
	border-right: 1px solid #666666;
	padding: 0px;
	margin: 0px;
	border-spacing: 0px;
}

.table_disp .header {
	border-top: 1px solid #666666;
	background-color: #556CB5;
	font-weight: bold;
	color: white;
	vertical-align: middle;
	padding: 3px 5px;
	text-align: left;
	font-size: 0.9em;
}

.table_disp .header td {
	padding: 4px;
	vertical-align: middle;
	border-top: 1px solid #AAAAAA;
	border-bottom: 2px solid #666666;
}

.table_disp td {
	border-left: 1px solid #AAAAAA;
	padding-left: 4px;
	padding-right: 4px;
}

table tr.parity0:hover,table tr.parity1:hover {
	background: #D5E1E6;
}

table tr.parity0 {
	background: #EAEAE9;
}

table tr.parity1 {
	background: #FFFFFF;
}

/*** ***/ 

/** COMMON SETTINGS **/
.add_icon {
	background: url("/images/icons/add.png") no-repeat scroll 3px;
	height: 16px;
	padding-left: 20px;
	padding-top: 0px;
	text-align: left;
}

.edit_icon {
	background: url("/images/icons/folder_edit.png") no-repeat scroll 3px;
	height: 16px;
	padding-left: 20px;
	padding-top: 0px;
	text-align: left;
}

.delete_icon {
	background: url("/images/icons/delete.png") no-repeat scroll 3px;
	height: 16px;
	padding-left: 20px;
	padding-top: 0px;
	text-align: left;
}

.action_button {
	border: 0px;
	display: block;
}

.action_button:hover {
	border: 0px;
	font-style: italic;
	cursor: pointer;
}

.flash_msg ul {
	margin: 0;
	padding: 25px 0px 0px 0px;
}

.error_msg {
	background-color: #FFCFCF;
	background-image: url("/images/icons/error_msg.png");
	border: 1px solid #FF9595;
	color: #CC3300;
}

.warning_msg {
	background-color: #FFFBCC;
	background-image: url("/images/icons/warning_msg.png");
	border: 1px solid #FFF35E;
	color: #C69E00;
}

.success_msg {
	background-color: #D5FFCF;
	background-image: url("/images/icons/success_msg.png");
	border: 1px solid #97FF88;
	color: #009900;
}

.notice_msg {
	background-color: #DCE3FF;
	background-image: url("/images/icons/notice_msg.png");
	border: 1px solid #93A8FF;
	color: #556CB5;
}

.success_msg,.error_msg,.notice_msg,.warning_msg {
	background-position: 10px center;
	background-repeat: no-repeat;
	font-size: 12px;
	font-weight: bold;
	min-height: 14px;
	line-height: 14px;
	margin-bottom: 0px;
	margin-top: 0px;
	padding: 3px 10px 3px 40px;
	display: block;
	overflow: auto;
}

#msg_close {
	background: transparent url("icons/cross_grey_small.png") no-repeat
		scroll 0 0;
	cursor: pointer;
	height: 16px;
	position: absolute;
	right: 5px;
	top: 5px;
	width: 16px;
}

.error-message {
	color: #CC3300;
}

/**** TOOLTIP ****/
.yui-overlay,.yui-panel-container {
	visibility: hidden;
	position: absolute;
	z-index: 2;
}

.yui-tt {
	visibility: hidden;
	position: absolute;
	color: #666666;
	background-color: #FFFFFF;
	font-family: arial, helvetica, verdana, sans-serif;
	padding: 8px;
	border: 2px solid #556CB5;
	font: 100% sans-serif;
	width: auto;
	opacity: 1.0;
}

.yui-tt-shadow {
	display: none;
}

/** END TOOLTIP **/ 

/** AUTOCOMPLETE **/ 

.ac{
	vertical-align: top;

}
.ac .match {
    font-weight:bold;
}

.ac .yui-ac {
	position: relative;
	font-family: arial;
	font-size: 100%;
}

.ac #perm_ac{
	width:15em;
}
/* styles for input field */
.ac .yui-ac-input {
	position: absolute;
	width: 100%;
}

/* styles for results container */
.ac .yui-ac-container {
	position: absolute;
	top: 1.6em;
	width: 100%;
}

/* styles for header/body/footer wrapper within container */
.ac .yui-ac-content {
	position: absolute;
	width: 100%;
	border: 1px solid #808080;
	background: #fff;
	overflow: hidden;
	z-index: 9050;
}

/* styles for container shadow */
.ac .yui-ac-shadow {
	position: absolute;
	margin: .3em;
	width: 100%;
	background: #000;
	-moz-opacity: 0.10;
	opacity: .10;
	filter: alpha(opacity = 10);
	z-index: 9049;
}

/* styles for results list */
.ac .yui-ac-content ul {
	margin: 0;
	padding: 0;
	width: 100%;
}

/* styles for result item */
.ac .yui-ac-content li {
	margin: 0;
	padding: 2px 5px;
	cursor: default;
	white-space: nowrap;
}

/* styles for prehighlighted result item */
.ac .yui-ac-content li.yui-ac-prehighlight {
	background: #B3D4FF;
}

/* styles for highlighted result item */
.ac .yui-ac-content li.yui-ac-highlight {
	background: #556CB5;
	color: #FFF;
}

/** END AUTOCOMPLETE **/
div#main {
	padding: 5px;
}

div#container {
	background: #FFFFFF;
	position: relative;
	color: #666;
}

div.page-header {
	padding: 50px 20px 0;
	background: #556cb5 top left repeat-x;
	position: relative;
}

div.page-header h1 {
	margin: 10px 0 30px;
	font-size: 1.8em;
	font-weight: bold;
	font-family: sans-serif;
	letter-spacing: 1px;
	color: #FFFFFF;
}

div.page-header h1 a {
	font-weight: bold;
	color: #FFFFFF;
}

div.page-header a {
	text-decoration: none;
}

div.page-header form {
	position: absolute;
	margin-bottom: 2px;
	bottom: 0;
	right: 20px;
}

div.page-header form label {
	color: #DDD;
}

div.page-header form input {
	padding: 2px;
	border: solid 1px #DDD;
}

div.page-header form dl {
	overflow: hidden;
}

div.page-header form dl dt {
	font-size: 1.2em;
}

div.page-header form dl dt,div.page-header form dl dd {
	margin: 0 0 0 5px;
	float: left;
	height: 24px;
	line-height: 20px;
}

ul.page-nav {
	margin: 10px 0 0 0;
	list-style-type: none;
	overflow: hidden;
	width: 800px;
	padding: 0;
}

ul.page-nav li {
	margin: 0 4px 0 0;
	float: left;
	height: 24px;
	font-size: 1.1em;
	line-height: 24px;
	text-align: center;
	background: #556CB5;
}

ul.page-nav li.current {
	background: #FFF;
	padding-right: 5px;
	padding-left: 5px;
}

ul.page-nav li.current a {
	color: #556CB5;
}

ul.page-nav li a {
	height: 24px;
	color: #FFF;
	padding-right: 5px;
	padding-left: 5px;
	display: block;
	text-decoration: none;
	font-weight: bold;
}

ul.page-nav li.logout a {
	color: #FDAC9D;
}

ul.page-nav li a:hover {
	background: #FFF;
	color: #556CB5;
}

ul.submenu {
	margin: 5px 0px -20px 0px;
	list-style-type: none;
}

ul.submenu li {
	margin: 0 10px 0 0;
	font-size: 0.9em;
	font-weight: bold;
	display: inline;
}

ul.submenu .repos {
	background: url("/images/icons/folder_edit.png") no-repeat scroll 3px;
	height: 16px;
	padding-left: 20px;
	padding-top: 0px;
	text-align: left;
}

ul.submenu .users {
	background: url("/images/icons/user_edit.png") no-repeat scroll 3px;
	height: 16px;
	padding-left: 20px;
	padding-top: 0px;
	text-align: left;
}

ul.submenu .permissions {
	background: url("/images/icons/folder_key.png") no-repeat scroll 3px;
	height: 16px;
	padding-left: 20px;
	padding-top: 0px;
	text-align: left;
}

ul.submenu .current_submenu {
	border-bottom: 2px solid #556CB5;
}

h2 {
	margin: 20px 0 10px;
	height: 30px;
	line-height: 30px;
	text-indent: 20px;
	background: #FFF;
	font-size: 1.2em;
	border-top: dotted 1px #D5E1E6;
	font-weight: bold;
	color: #556CB5;
}

h2.no-link {
	color: #006699;
}

h2.no-border {
	color: #FFF;
	background: #556CB5;
	border: 0;
}

h2 a {
	font-weight: bold;
	color: #006699;
}

div.page-path {
	text-align: right;
	padding: 20px 30px 10px 0;
	border: solid #d9d8d1;
	border-width: 0px 0px 1px;
	font-size: 1.2em;
}

div.page-footer {
	margin: 50px 0 0;
	position: relative;
	text-align: center;
	font-weight: bold;
	font-size: 90%;
}

div.page-footer p {
	position: relative;
	left: 20px;
	bottom: 5px;
	font-size: 1.2em;
}

ul.rss-logo {
	position: absolute;
	top: -10px;
	right: 20px;
	height: 20px;
	list-style-type: none;
}

ul.rss-logo li {
	display: inline;
}

ul.rss-logo li a {
	padding: 3px 6px;
	line-height: 10px;
	border: 1px solid;
	border-color: #fcc7a5 #7d3302 #3e1a01 #ff954e;
	color: #ffffff;
	background-color: #ff6600;
	font-weight: bold;
	font-family: sans-serif;
	font-size: 10px;
	text-align: center;
	text-decoration: none;
}

div.rss-logo li a:hover {
	background-color: #ee5500;
}

p.normal {
	margin: 20px 0 20px 30px;
	font-size: 1.2em;
}

span.logtags span {
	background-repeat: no-repeat;
	height: 16px;
	padding-left: 20px;
	padding-top: 0px;
	text-align: left;
	font-weight: bold;
}

span.logtags span.tagtag {
	background-image: url("/images/icons/tag_green.png");
}

span.logtags span.branchtag {
	background-image: url("/images/icons/arrow_branch.png");
	color: #628F53;
}

span.logtags span.inbranchtag {
	background-image: url("/images/icons/arrow_branch.png");
}

div.diff pre {
	margin: 10px 0 0 0;
}

div.diff pre span {
	font-family: monospace;
	white-space: pre;
	font-size: 1.2em;
	padding: 3px 0;
}

td.source {
	white-space: pre;
	font-family: monospace;
	margin: 10px 30px 0;
	font-size: 1.2em;
	font-family: monospace;
}

div.source div.parity0,div.source div.parity1 {
	padding: 1px;
	font-size: 1.2em;
}

div.source div.parity0 {
	background: #F1F6F7;
}

div.source div.parity1 {
	background: #FFFFFF;
}

div.parity0:hover,div.parity1:hover {
	background: #D5E1E6;
}

.linenr {
	color: #999;
	text-align: right;
}

.lineno {
	text-align: right;
}

.lineno a {
	color: #999;
}

td.linenr {
	width: 60px;
}

div#powered-by {
	position: absolute;
	width: 75px;
	top: 15px;
	right: 20px;
	font-size: 1.2em;
}

div#powered-by a {
	color: #EEE;
	text-decoration: none;
}

div#powered-by a:hover {
	text-decoration: underline;
}

dl.overview {
	margin: 0 0 0 30px;
	font-size: 1.1em;
	overflow: hidden;
}

dl.overview dt,dl.overview dd {
	margin: 5px 0;
	float: left;
}

dl.overview dt {
	clear: left;
	font-weight: bold;
	width: 150px;
}

#clone_url {
	border: 0px;
}

/** end of summary **/ /** chagelog **/
h3.changelog {
	margin: 20px 0 5px 30px;
	padding: 0 0 2px;
	font-size: 1.4em;
	border-bottom: dotted 1px #D5E1E6;
}

ul.changelog-entry {
	margin: 0 0 10px 30px;
	list-style-type: none;
	position: relative;
}

ul.changelog-entry li span.revdate {
	font-size: 1.1em;
}

ul.changelog-entry li.age {
	position: absolute;
	top: -25px;
	right: 10px;
	font-size: 1.4em;
	color: #CCC;
	font-weight: bold;
	font-style: italic;
}

ul.changelog-entry li span.name {
	font-size: 1.2em;
	font-weight: bold;
}

ul.changelog-entry li.description {
	margin: 10px 0 0;
	font-size: 1.1em;
}

/** end of changelog **/ /** file **/
p.files {
	margin: 0 0 0 20px;
	font-size: 2.0em;
	font-weight: bold;
}

/** end of file **/ /** changeset **/
#changeset_content {
	width: 60%;
	float: left;
}

#changeset_content .container .wrapper {
	width: 600px;
}

#changeset_content .container {
	border: 1px solid #CCCCCC;
	height: 120px;
}

#changeset_content .container .left {
	float: left;
	width: 70%;
	padding-left: 5px;
}

#changeset_content .container .right {
	float: right;
	width: 25%;
	text-align: right;
}

#changeset_content .container .left .date {
	font-weight: bold;
}

#changeset_content .container .left .author {
	
}

#changeset_content .container .left .message {
	font-style: italic;
	color: #556CB5;
}

.cs_files {
	width: 60%;
}

.cs_files .cs_added {
	background: url("/images/icons/page_white_add.png") no-repeat scroll 3px;
	/*background-color:#BBFFBB;*/
	height: 16px;
	padding-left: 20px;
	margin-top: 7px;
	text-align: left;
}

.cs_files .cs_changed {
	background: url("/images/icons/page_white_edit.png") no-repeat scroll
		3px;
	/*background-color: #FFDD88;*/
	height: 16px;
	padding-left: 20px;
	margin-top: 7px;
	text-align: left;
}

.cs_files .cs_removed {
	background: url("/images/icons/page_white_delete.png") no-repeat scroll
		3px;
	/*background-color: #FF8888;*/
	height: 16px;
	padding-left: 20px;
	margin-top: 7px;
	text-align: left;
}

/** end of changeset **/ /** canvas **/
#graph_nodes {
	margin-top: 8px;
}

#graph {
	overflow: hidden;
}

#graph_nodes {
	width: 160px;
	float: left;
}

#graph_content {
	width: 800px;
	float: left;
}

#graph_content .container_header {
	border: 1px solid #CCCCCC;
	height: 30px;
	background: #EEEEEE;
}

#graph_content .container .wrapper {
	width: 600px;
}

#graph_content .container {
	border-bottom: 1px solid #CCCCCC;
	border-left: 1px solid #CCCCCC;
	border-right: 1px solid #CCCCCC;
	height: 120px;
}

#graph_content .container .left {
	float: left;
	width: 70%;
	padding-left: 5px;
}

#graph_content .container .right {
	float: right;
	width: 25%;
	text-align: right;
}

#graph_content .container .left .date {
	font-weight: bold;
}

#graph_content .container .left .author {
	
}

#graph_content .container .left .message {
	font-size: 80%;
}

.right div {
	clear: both;
}

.right .changes .added,.changed,.removed {
	border: 1px solid #DDDDDD;
	display: block;
	float: right;
	font-size: 0.75em;
	text-align: center;
	min-width: 15px;
}

.right .changes .added {
	background: #BBFFBB;
}

.right .changes .changed {
	background: #FFDD88;
}

.right .changes .removed {
	background: #FF8888;
}

.right .merge {
	vertical-align: top;
	font-size: 60%;
	font-weight: bold;
}

.right .merge img {
	vertical-align: bottom;
}

.right .parent {
	font-size: 90%;
	font-family: monospace;
}

/** end of canvas **/ /* FILE BROWSER */
div.browserblock {
	overflow: hidden;
	padding: 0px;
	border: 1px solid #ccc;
	background: #f8f8f8;
	font-size: 100%;
	line-height: 100%;
	/* new */
	line-height: 125%;
}

div.browserblock .browser-header {
	border-bottom: 1px solid #CCCCCC;
	background: #EEEEEE;
	color: blue;
	padding: 10px 0 10px 0;
}

div.browserblock .browser-header span {
	margin-left: 25px;
	font-weight: bold;
}

div.browserblock .browser-body {
	background: #EEEEEE;
}

table.code-browser {
	border-collapse: collapse;
	width: 100%;
}

table.code-browser tr {
	margin: 3px;
}

table.code-browser thead th {
	background-color: #EEEEEE;
	height: 20px;
	font-size: 1.1em;
	font-weight: bold;
	text-align: center;
	text-align: left;
	padding-left: 10px;
}

table.code-browser tbody tr {
	
}

table.code-browser tbody td {
	padding-left: 10px;
	height: 20px;
}

.info-table {
	background: none repeat scroll 0 0 #FAFAFA;
	border-bottom: 1px solid #DDDDDD;
	width: 100%;
}

.rss_logo {
	background: url("/images/icons/rss_16.png") no-repeat scroll 3px;
	height: 16px;
	padding-left: 20px;
	padding-top: 0px;
	text-align: left;
}

.atom_logo {
	background: url("/images/icons/atom.png") no-repeat scroll 3px;
	height: 16px;
	padding-left: 20px;
	padding-top: 0px;
	text-align: left;
}

.archive_logo {
	background: url("/images/icons/compress.png") no-repeat scroll 3px;
	height: 16px;
	padding-left: 20px;
	text-align: left;
}

.browser-file {
	background: url("/images/icons/document_16.png") no-repeat scroll 3px;
	height: 16px;
	padding-left: 20px;
	text-align: left;
}

.browser-dir {
	background: url("/images/icons/folder_16.png") no-repeat scroll 3px;
	height: 16px;
	padding-left: 20px;
	text-align: left;
}

#repos_list {
	border: 1px solid #556CB5;
	background: #FFFFFF;
}