## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Users administration')}
</%def>
<%def name="breadcrumbs()">
	${h.link_to(u'Admin',h.url('admin_home'))}
	 /  
</%def>
<%def name="page_nav()">
	${self.menu('admin')}
	${self.submenu('users')}
</%def>
<%def name="main()">
	<div>
        <h2>${_('Mercurial users')}</h2>
        <table>
         <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Active</th>
            <th>Admin</th>
            <th>Action</th>
         </tr>
            %for user in c.users_list:
                <tr>
                    <td>${user.user_id}</td>
                    <td>${h.link_to(user.username,h.url('edit_user', id=user.user_id))}</td>
                    <td>${user.active}</td>
                    <td>${user.admin}</td>
                    <td>
	                    ${h.form(url('user', id=user.user_id),method='delete')}
	                    	${h.submit('remove','remove',class_="submit")}
	                    ${h.end_form()}
        			</td>
                </tr>
            %endfor
        </table>
        <h3>${h.link_to(u'Add user',h.url('new_user'))}</h3>        
    </div>
</%def>
