<%inherit file="/base/base.html"/>
<%def name="title()">
    ${_('User')} - ${_('add new')}
</%def>
<%def name="breadcrumbs()">
    ${h.link_to(u'Admin',h.url('admin_home'))}
    /
    ${h.link_to(u'Users',h.url('users'))}
</%def>
<%def name="page_nav()">
	${self.menu('admin')}
</%def>
<%def name="main()">
    <ul class="submenu">
        <li>
            ${h.link_to(u'Repos',h.url('repos'))}
        </li>
        <li class="current_submenu">
            ${h.link_to(u'Users',h.url('users'))}
        </li>
    </ul>
	<div>
        <h2>${_('User')} - ${_('add new')}</h2>
        ${h.form(url('users'))}
        <table>
        	<tr>
        		<td>${_('Username')}</td>
        		<td>${h.text('username')}</td>
        	</tr>
        	<tr>
        		<td>${_('password')}</td>
        		<td>${h.text('password')}</td>
        	</tr>
        	<tr>
        		<td>${_('Active')}</td>
        		<td>${h.checkbox('active')}</td>
        	</tr>
        	<tr>
        		<td></td>
        		<td>${h.submit('add','add')}</td>
        	</tr>
        	        	        	
        </table>
        	
        ${h.end_form()}
    </div>
</%def>    