## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('User administration')}
</%def>
<%def name="breadcrumbs()">
	${h.link_to(u'Admin',h.url('admin_home'))}
	 /  
	 ${_('Users')}
</%def>
<%def name="page_nav()">
	${self.menu('admin')}
	${self.submenu('users')}
</%def>
<%def name="main()">
	<div>
        <h2>${_('User')} - ${_('add new')}</h2>
        ${h.form(url('users'))}
        <table>
        	<tr>
        		<td>${_('Username')}</td>
        		<td>${h.text('username')}</td>
        	</tr>
        	<tr>
        		<td>${_('password')}</td>
        		<td>${h.text('password')}</td>
        	</tr>
        	<tr>
        		<td>${_('Active')}</td>
        		<td>${h.checkbox('active')}</td>
        	</tr>
        	<tr>
        		<td></td>
        		<td>${h.submit('add','add')}</td>
        	</tr>
        	        	        	
        </table>
        ${h.end_form()}
    </div>
</%def>    