## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${c.hg_app_user.username} ${_('account')}
</%def>

<%def name="breadcrumbs_links()">
    ${_('My Account')}
</%def>

<%def name="page_nav()">
	${self.menu('admin')}
</%def>

<%def name="main()">

<div class="box box-left">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}       
    </div>
    <!-- end box / title -->
    <div class="ui-tabs-panel ui-widget-content ui-corner-bottom">
    ${h.form(url('admin_settings_my_account_update'),method='put')}
	    <div class="form">
	        <div class="fields">
	             <div class="field">
	                <div class="label">
	                    <label for="username">${_('Username')}:</label>
	                </div>
	                <div class="input">
	                    ${h.text('username')}
	                </div>
	             </div>
	            
	             <div class="field">
	                <div class="label">
	                    <label for="new_password">${_('New password')}:</label>
	                </div>
	                <div class="input">
	                    ${h.password('new_password')}
	                </div>
	             </div>
	            
	             <div class="field">
	                <div class="label">
	                    <label for="name">${_('Name')}:</label>
	                </div>
	                <div class="input">
	                    ${h.text('name')}
	                </div>
	             </div>
	            
	             <div class="field">
	                <div class="label">
	                    <label for="lastname">${_('Lastname')}:</label>
	                </div>
	                <div class="input">
	                    ${h.text('lastname')}
	                </div>
	             </div>
	            
	             <div class="field">
	                <div class="label">
	                    <label for="email">${_('Email')}:</label>
	                </div>
	                <div class="input">
	                    ${h.text('email')}
	                </div>
	             </div>
	            
	            <div class="buttons">
	              ${h.submit('save','save',class_="ui-button ui-widget ui-state-default ui-corner-all")}
	            </div>             
	    	</div>
	    </div>    	
    ${h.end_form()}
    </div>
</div>    

<div class="box box-right">
    <!-- box / title -->
    <div class="title">
        <h5>${_('My repositories')}</h5>   
    </div>
    <!-- end box / title -->
    <div class="table">
	    <table>
	     <tbody>
	     %if c.user_repos:
		     %for repo in c.user_repos:
		        <tr>
		            <td>
		             %if repo.dbrepo.private:
		                <img class="icon" alt="${_('private')}" src="/images/icons/lock.png"/>
		             %else:
		                <img class="icon" alt="${_('public')}" src="/images/icons/lock_open.png"/>
		             %endif
		                                             
		            ${h.link_to(repo.name, h.url('summary_home',repo_name=repo.name))}</td> 
		            <td>${_('revision')}: ${h.get_changeset_safe(repo,'tip').revision}</td>
		            <td>${_('last changed')}: ${h.age(repo.last_change)}</td>
		            <td><img class="icon" alt="${_('private')}" src="/images/icons/application_form_edit.png"/> ${h.link_to(_('edit'),h.url('repo_settings_home',repo_name=repo.name))}</td>
		            <td>
	                  ${h.form(url('repo_settings_delete', repo_name=repo.name),method='delete')}
	                    ${h.submit('remove_%s' % repo.name,'delete',class_="delete_icon action_button",onclick="return confirm('Confirm to delete this repository');")}
	                  ${h.end_form()}	            
		            </td>
		        </tr>
		     %endfor
	     %else:
	     	${_('No repositories yet')} 
	     	%if h.HasPermissionAny('hg.admin','hg.create.repository')():
	     		${h.link_to(_('create one now'),h.url('admin_settings_create_repository'))}
	     	%endif
	     %endif
	     </tbody>
	     </table>
    </div>
    
</div>
</%def>  