## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Users administration')}
</%def>
<%def name="breadcrumbs()">
	${h.link_to(u'Admin',h.url('admin_home'))}
	 /  
	 ${_('Users')}
</%def>
<%def name="page_nav()">
	${self.menu('admin')}
	${self.submenu('users')}
</%def>
<%def name="main()">
	<div>
        <h2>${_('Mercurial users')}</h2>
        <table class="table_disp">
         <tr class="header">
            <td>${_('username')}</td>
            <td>${_('name')}</td>
            <td>${_('lastname')}</td>
            <td>${_('active')}</td>
            <td>${_('admin')}</td>
            <td>${_('action')}</td>
         </tr>
            %for user in c.users_list:
                <tr>
                    <td>${h.link_to(user.username,h.url('edit_user', id=user.user_id))}</td>
                    <td>${user.name}</td>
                    <td>${user.lastname}</td>
                    <td>${user.active}</td>
                    <td>${user.admin}</td>
                    <td>
	                    ${h.form(url('user', id=user.user_id),method='delete')}
	                    	${h.submit('remove','delete',class_="delete_icon action_button")}
	                    ${h.end_form()}
        			</td>
                </tr>
            %endfor
        </table>
        <span class="add_icon">${h.link_to(u'add user',h.url('new_user'))}</span>        
    </div>
</%def>
