## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('User administration')}
</%def>
<%def name="breadcrumbs()">
	${h.link_to(u'Admin',h.url('admin_home'))}
	 /  
	${_('Users')}
</%def>
<%def name="page_nav()">
	${self.menu('admin')}
	${self.submenu('users')}
</%def>
<%def name="main()">
	<div>
        <h2>${_('User')} - ${c.user.username}</h2>
        ${h.form(url('user', id=c.user.user_id),method='put')}
        <table>
        	<tr>
        		<td>${_('Username')}</td>
        		<td>${h.text('username')}</td>
        	</tr>
        	<tr>
        		<td>${_('New password')}</td>
        		<td>${h.text('new_password')}</td>
        	</tr>
        	<tr>
        		<td>${_('Active')}</td>
        		<td>${h.checkbox('active',value=True)}</td>
        	</tr>
        	<tr>
        		<td></td>
        		<td>${h.submit('save','save')}</td>
        	</tr>
        	        	        	
        </table>
        ${h.end_form()}
    </div>
</%def>  