<dl class="overview">
	<dt>${_('Revision')}</dt>
	<dd>r${c.files_list.last_changeset.revision}:${c.files_list.last_changeset._short}</dd>
	<dt>${_('Size')}</dt>
	<dd>${h.format_byte_size(c.files_list.size,binary=True)}</dd>
	<dt>${_('Options')}</dt>
	<dd>${h.link_to(_('annotate'),
	h.url('files_annotate_home',repo_name=c.repo_name,revision=c.cur_rev,f_path=c.f_path))}  / ${h.link_to(_('raw'),
	h.url('files_raw_home',repo_name=c.repo_name,revision=c.cur_rev,f_path=c.f_path))}</dd>
	<dt>${_('History')}</dt>
	<dd>
		${h.form(h.url('files_diff_home',repo_name=c.repo_name,f_path=c.f_path),method='GET')}
		${h.hidden('diff2',c.files_list.last_changeset._short)}
		${h.select('diff1','',c.file_history)}
		${h.submit('diff','diff')}
		${h.end_form()}
	</dd>
					
</dl>		
<div id="body" class="codeblock">
	<div class="code-header">
		<div class="revision">${c.files_list.name}@r${c.files_list.last_changeset.revision}:${c.files_list.last_changeset._short}</div>
		<div class="commit" style="font-size:70%">"${c.file_msg}"</div>
	</div>
	<div class="code-body">
		${h.pygmentize(c.files_list.content,linenos=True,anchorlinenos=True,cssclass="code-highlight")}
	</div>
</div>