<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Repository managment')}
</%def>
<%def name="breadcrumbs()">
    ${h.link_to(u'Home',h.url('/'))}
    / 
    ${h.link_to(c.repo_name,h.url('files_home',repo_name=c.repo_name))}
    /
    ${_('files')}
</%def>
<%def name="page_nav()">
        <form action="log">
            <dl class="search">
                <dt><label>Search: </label></dt>
                <dd><input type="text" name="rev" /></dd>
            </dl>
        </form>

		${self.menu('files')}     
</%def>
<%def name="css()">
<link rel="stylesheet" href="/css/monoblue_custom.css" type="text/css" />
<link rel="stylesheet" href="/css/diff.css" type="text/css" />
</%def>
<%def name="main()">
    <h2 class="no-link no-border">${'%s:  %s %s %s' % (_('File diff'),c.diff2,'&rarr;',c.diff1)|n}</h2>
<div id="body" class="diffblock">
	<div class="code-header">
		<span>${h.link_to(c.f_path,h.url('files_home',repo_name=c.repo_name,revision=c.diff2.split(':')[1],f_path=c.f_path))}</span>
	</div>
	<div class="code-body">
 			%if c.no_changes:
            	${_('No changes')}
            %else:        
	            <table class='code-difftable'>
	            %for diff in c.diff_files:
		            %for x in diff['chunks']:
		                %for y in x:
		                    <tr class="line ${y['action']}">
		                        <td id="#${diff['filename']}_O${y['old_lineno']}" class="lineno old">
		                              <pre><a href="#${diff['filename']}_O${y['old_lineno']}">${y['old_lineno']}</a></pre>
		                        </td>		                    
		                        <td id="#${diff['filename']}_N${y['new_lineno']}"class="lineno new">
		                              <pre><a href="#${diff['filename']}_N${y['new_lineno']}">${y['new_lineno']}</a></pre>
		                        </td>                        
		                       <td class="code">
		                           <pre>${y['line']|n}</pre>
		                       </td>
		                    </tr>
		                %endfor$
		            %endfor
		        %endfor
	            </table>
            %endif
	</div>
</div>
</%def>    