<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('File annotate')}
</%def>

<%def name="breadcrumbs_links()">
    ${h.link_to(u'Home',h.url('/'))}
    &raquo;
    ${h.link_to(c.repo_name,h.url('summary_home',repo_name=c.repo_name))}
    &raquo;
    ${_('annotate')} @ R${c.rev_nr}:${c.cur_rev}
</%def>

<%def name="page_nav()">
		${self.menu('files')}     
</%def>
<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>
    <div class="table">
		<div id="files_data">
			<h2>${_('Location')}: ${h.files_breadcrumbs(c.repo_name,c.cur_rev,c.file.path)}</h2>
			<dl class="overview">
				<dt>${_('Last revision')}</dt>
				<dd>${h.link_to("r%s:%s" % (c.file.last_changeset.revision,c.file.last_changeset._short),
						h.url('files_annotate_home',repo_name=c.repo_name,revision=c.file.last_changeset._short,f_path=c.f_path))} </dd>
				<dt>${_('Size')}</dt>
				<dd>${h.format_byte_size(c.file.size,binary=True)}</dd>
				<dt>${_('Options')}</dt>
				<dd>${h.link_to(_('show source'),
						h.url('files_home',repo_name=c.repo_name,revision=c.cur_rev,f_path=c.f_path))}  
					/ ${h.link_to(_('download as raw'),
						h.url('files_raw_home',repo_name=c.repo_name,revision=c.cur_rev,f_path=c.f_path))}
				</dd>				
			</dl>
			<div id="body" class="codeblock">
				<div class="code-header">
					<div class="revision">${c.file.name}@r${c.file.last_changeset.revision}:${c.file.last_changeset._short}</div>
					<div class="commit">"${c.file_msg}"</div>
				</div>
				<div class="code-body">
					${h.pygmentize_annotation(c.file,linenos=True,anchorlinenos=True,lineanchors='S',cssclass="code-highlight")}
				</div>
			</div>
		</div>    
    </div>
</div>    
</%def>   