<dl class="overview">
	<dt>${_('Revision')}</dt>
	<dd>r${c.files_list.changeset.revision}:${c.files_list.changeset._short}</dd>
	<dt>${_('Size')}</dt>
	<dd>${h.filesizeformat(c.files_list.size)}</dd>
	<dt>${_('Options')}</dt>
	<dd>history  / annotate  / raw  </dd>
	<dt>${_('History')}</dt>
	<dd>
		${h.form(h.url.current())}
		${h.hidden('diff2',c.files_list.changeset._short)}
		${h.select('diff1','',c.file_history)}
		${h.submit('diff','diff')}
		${h.end_form()}
	</dd>
					
</dl>		
<div id="body" class="codeblock">
	${h.pygmentize(c.files_list.content,linenos=True,anchorlinenos=True,cssclass="code-highlight")}
</div>