## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Settings administration')} - ${c.rhodecode_name}
</%def>

<%def name="breadcrumbs_links()">
    ${h.link_to(_('Admin'),h.url('admin_home'))} &raquo; ${_('Settings')}
</%def>

<%def name="page_nav()">
	${self.menu('admin')}
</%def>

<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}       
    </div>
    <!-- end box / title -->
    
    <h3>${_('Remap and rescan repositories')}</h3>
    ${h.form(url('admin_setting', setting_id='mapping'),method='put')}
    <div class="form">
        <!-- fields -->
        
        <div class="fields">
			<div class="field">
		        <div class="label label-checkbox">
		            <label for="destroy">${_('rescan option')}:</label>
		        </div>
		        <div class="checkboxes">
		            <div class="checkbox">
		                ${h.checkbox('destroy',True)}
		                <label for="destroy">
		                <span class="tooltip" title="${h.tooltip(_('In case a repository was deleted from filesystem and there are leftovers in the database check this option to scan obsolete data in database and remove it.'))}">
		                ${_('destroy old data')}</span> </label>
		            </div>
		        </div>
			</div>
                            
            <div class="buttons">
            ${h.submit('rescan',_('Rescan repositories'),class_="ui-button")}
            </div>                                                          
        </div>
    </div>  
    ${h.end_form()}
    
    <h3>${_('Whoosh indexing')}</h3>
    ${h.form(url('admin_setting', setting_id='whoosh'),method='put')}
    <div class="form">
        <!-- fields -->
        
        <div class="fields">
            <div class="field">
                <div class="label label-checkbox">
                    <label>${_('index build option')}:</label>
                </div>
                <div class="checkboxes">
                    <div class="checkbox">
                        ${h.checkbox('full_index',True)}
                        <label for="full_index">${_('build from scratch')}</label>
                    </div>
                </div>
            </div>
                            
            <div class="buttons">
            ${h.submit('reindex',_('Reindex'),class_="ui-button")}
            </div>                                                          
        </div>
    </div>  
    ${h.end_form()}
         
    <h3>${_('Global application settings')}</h3> 
    ${h.form(url('admin_setting', setting_id='global'),method='put')}
    <div class="form">
        <!-- fields -->
        
        <div class="fields">
             
             <div class="field">
                <div class="label">
                    <label for="rhodecode_title">${_('Application name')}:</label>
                </div>
                <div class="input">
                    ${h.text('rhodecode_title',size=30)}
                </div>
             </div>
                          
            <div class="field">
                <div class="label">
                    <label for="rhodecode_realm">${_('Realm text')}:</label>
                </div>
                <div class="input">
                    ${h.text('rhodecode_realm',size=30)}
                </div>
            </div>
            
            <div class="field">
                <div class="label">
                    <label for="rhodecode_ga_code">${_('GA code')}:</label>
                </div>
                <div class="input">
                    ${h.text('rhodecode_ga_code',size=30)}
                </div>
            </div>
                                                 
            <div class="buttons">
                ${h.submit('save',_('Save settings'),class_="ui-button")}
                ${h.reset('reset',_('Reset'),class_="ui-button")}
           </div>                                                          
        </div>
    </div>      
    ${h.end_form()}

    <h3>${_('Mercurial settings')}</h3> 
    ${h.form(url('admin_setting', setting_id='mercurial'),method='put')}
    <div class="form">
        <!-- fields -->
        
        <div class="fields">
             
             <div class="field">
                <div class="label label-checkbox">
                    <label>${_('Web')}:</label>
                </div>
                <div class="checkboxes">
					<div class="checkbox">
						${h.checkbox('web_push_ssl','true')}
						<label for="web_push_ssl">${_('require ssl for pushing')}</label>
					</div>
				</div>
             </div>						

             <div class="field">
                <div class="label label-checkbox">
                    <label>${_('Hooks')}:</label>
                </div>
                <div class="input">
                    ${h.link_to(_('advanced setup'),url('admin_edit_setting',setting_id='hooks'))}
                </div>                
                <div class="checkboxes">
					<div class="checkbox">
						${h.checkbox('hooks_changegroup_update','True')}
						<label for="hooks_changegroup_update">${_('Update repository after push (hg update)')}</label>
					</div>
					<div class="checkbox">
						${h.checkbox('hooks_changegroup_repo_size','True')}
						<label for="hooks_changegroup_repo_size">${_('Show repository size after push')}</label>
					</div>
                    <div class="checkbox">
                        ${h.checkbox('hooks_pretxnchangegroup_push_logger','True')}
                        <label for="hooks_pretxnchangegroup_push_logger">${_('Log user push commands')}</label>
                    </div>
                    <div class="checkbox">
                        ${h.checkbox('hooks_preoutgoing_pull_logger','True')}
                        <label for="hooks_preoutgoing_pull_logger">${_('Log user pull commands')}</label>
                    </div>                    										
				</div>
             </div>	
							                          
            <div class="field">
                <div class="label">
                    <label for="paths_root_path">${_('Repositories location')}:</label>
                </div>
                <div class="input">
                    ${h.text('paths_root_path',size=30,readonly="readonly")}			                    
					<span id="path_unlock" class="tooltip" 
						title="${h.tooltip(_('This a crucial application setting. If you are really sure you need to change this, you must restart application in order to make this setting take effect. Click this label to unlock.'))}">
		                ${_('unlock')}</span>
                </div>
            </div>
                                     
            <div class="buttons">
                ${h.submit('save',_('Save settings'),class_="ui-button")}
                ${h.reset('reset',_('Reset'),class_="ui-button")}
           </div>                                                          
        </div>
    </div>      
    ${h.end_form()}
    
    <script type="text/javascript">
        YAHOO.util.Event.onDOMReady(function(){
            YAHOO.util.Event.addListener('path_unlock','click',function(){
                YAHOO.util.Dom.get('paths_root_path').removeAttribute('readonly');
            });
        });
    </script>
</div>
</%def>    
