<%inherit file="/base/base.html"/>
<%def name="title()">
    ${_('Repository managment')}
</%def>
<%def name="breadcrumbs()">
    ${h.link_to(u'Home',h.url('/'))}
    / 
    ${h.link_to(c.repo_name,h.url('summary_home',repo_name=c.repo_name))}
    /
    ${_('summary')}
</%def>
<%def name="page_nav()">
	${self.menu('summary')}    
</%def>

<%def name="js()">
<script type="text/javascript" src="/js/yui/utilities/utilities.js"></script>
<script type="text/javascript">
var E = YAHOO.util.Event;
var D = YAHOO.util.Dom;

E.onDOMReady(function(e){
    id = 'clone_url';
	E.addListener(id,'click',function(e){
	    D.get('clone_url').select();
	})
})
</script>
</%def>

<%def name="main()">
    <h2 class="no-link no-border">${_('Mercurial Repository Overview')}</h2>
    <dl class="overview">
        <dt>${_('name')}</dt>
        <dd>${c.repo_info.name}</dd>
        <dt>${_('description')}</dt>
        <dd>${c.repo_info.description}</dd>
        <dt>${_('contact')}</dt>
        <dd>${c.repo_info.contact}</dd>
        <dt>${_('last change')}</dt>
        <dd>${h.age(c.repo_info.last_change)} - ${h.rfc822date(c.repo_info.last_change)}</dd>
        <dt>${_('clone url')}</dt>
        <dd><input type="text" id="clone_url"  readonly="readonly" value="hg clone ${c.clone_repo_url}" size="70"/></dd>
        <dt>${_('download')}</dt>
        <dd>
       	%for cnt,archive in enumerate(c.repo_info._get_archives()):
       		 %if cnt >=1:
       		 |
       		 %endif
       		 ${h.link_to(c.repo_info.name+'.'+archive['type'],
       			h.url('files_archive_home',repo_name=c.repo_info.name,
       			revision='tip',fileformat=archive['extension']),class_="archive_logo")}
		%endfor
        </dd>
        <dt>${_('feeds')}</dt>
        <dd>
        	${h.link_to(_('RSS'),h.url('rss_feed_home',repo_name=c.repo_info.name),class_='rss_logo')}
			${h.link_to(_('Atom'),h.url('atom_feed_home',repo_name=c.repo_info.name),class_='atom_logo')}
        </dd>
    </dl>

    <h2>${h.link_to(_('Last ten changes'),h.url('changelog_home',repo_name=c.repo_name))}</h2>
	<%include file='../shortlog/shortlog_data.html'/>

    <h2>${h.link_to(_('Last ten tags'),h.url('tags_home',repo_name=c.repo_name))}</h2>
	<%include file='../tags/tags_data.html'/>
    
    <h2>${h.link_to(_('Last ten branches'),h.url('branches_home',repo_name=c.repo_name))}</h2>
	<%include file='../branches/branches_data.html'/>

</%def>    