## -*- coding: utf-8 -*-
<%inherit file="./../base/base.html"/>
            
<%def name="title()">
    ${_('Repository not found')}
</%def>

<%def name="breadcrumbs()">
	${h.link_to(u'Home',h.url('home'))}
	 / 
	${h.link_to(u'Admin',h.url('admin_home'))}
</%def>

<%def name="page_nav()">
	${self.menu('admin')}
</%def>
<%def name="js()">

</%def>
<%def name="main()">

    <h2 class="no-link no-border">${_('Not Found')}</h2>
    <p class="normal">${_('The specified repository "%s" is unknown, sorry.') % c.repo_name}</p>
    <p class="normal">
    <a href="${h.url('new_repo',repo=c.repo_name_cleaned)}">
    ${_('Create "%s" repository as %s' % (c.repo_name,c.repo_name_cleaned))}</a>

    </p>
    <p class="normal">${h.link_to(_('Go back to the main repository list page'),h.url('home'))}</p>
    <div class="page-footer">
    </div>
</%def>