<%inherit file="/base/base.html"/>
<%! from pylons_app.lib import filters %>
<%def name="title()">
    ${_('Branches')}
</%def>
<%def name="breadcrumbs()">
    ${h.link_to(u'Home',h.url('/'))}
    / 
    ${h.link_to(c.repo_name,h.url('summary_home',repo_name=c.repo_name))}
    /
    ${_('branches')}
</%def>
<%def name="page_nav()">
	${self.menu('branches')}    
</%def>
<%def name="main()">

    <h2 class="no-link no-border">${_('Branches')}</h2>

    <table>
		%for cnt,branch in enumerate(c.repo_branches.items()):
		<tr class="parity${cnt%2}">
			<td>${branch[1]._ctx.date()|n,filters.age}</td>
			<td>
				<span class="logtags">
					<span class="branchtag">${h.link_to(branch[0],
					h.url('changeset_home',repo_name=c.repo_name,revision=branch[1].raw_id))}</span>
				</span>			
			</td>
			<td class="nowrap">
			${h.link_to(_('changeset'),h.url('changeset_home',repo_name=c.repo_name,revision=branch[1].raw_id))}
			|
			${h.link_to(_('files'),h.url('files_home',repo_name=c.repo_name,revision=branch[1].raw_id))}
			</td>
		</tr>	
		%endfor
    </table>

</%def>    