
%if c.notifications:
<%
unread = lambda n:{False:'unread'}.get(n)
%>
<div class="table">
  <div class="notification-list">
  %for notification in c.notifications:
    <div id="notification_${notification.notification.notification_id}" class="container ${unread(notification.read)}">
      <div class="notification-header">
        <div class="gravatar">
            <img alt="gravatar" src="${h.gravatar_url(h.email(notification.notification.created_by_user.email),24)}"/>
        </div>
        <div class="desc ${unread(notification.read)}">
        <a href="${url('notification', notification_id=notification.notification.notification_id)}">${notification.notification.description}</a>
        </div>
        <div class="delete-notifications">
          <span id="${notification.notification.notification_id}" class="delete-notification delete_icon action"></span>
        </div>
      </div>
      <div class="notification-subject">${h.literal(notification.notification.subject)}</div>
    </div>
  %endfor
  </div>
</div>
%else:
    <div class="table">${_('No notifications here yet')}</div>
%endif
