## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('%s Compare') % c.repo_name} - ${'%s@%s' % (c.org_repo.repo_name, c.org_ref)} -&gt; ${'%s@%s' % (c.other_repo.repo_name, c.other_ref)} &middot; ${c.rhodecode_name}
</%def>

<%def name="breadcrumbs_links()">
  ${_('Compare revisions')}
</%def>

<%def name="page_nav()">
    ${self.menu('repositories')}
</%def>

<%def name="main()">
${self.repo_context_bar('changelog')}
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>
    <div class="table">
        <div id="body" class="diffblock">
            <div class="code-header">
                <div>
                ${'%s@%s' % (c.org_repo.repo_name, c.org_ref)} -&gt; ${'%s@%s' % (c.other_repo.repo_name, c.other_ref)}  <a href="${c.swap_url}">[swap]</a>
                </div>
            </div>
        </div>
        <div id="changeset_compare_view_content">
            ##CS
            <div style="font-size:1.1em;font-weight: bold;clear:both;padding-top:10px">${ungettext('Showing %s commit','Showing %s commits', len(c.cs_ranges)) % len(c.cs_ranges)}</div>
            <%include file="compare_cs.html" />

            ## FILES
            <div style="font-size:1.1em;font-weight: bold;clear:both;padding-top:10px">

            % if c.limited_diff:
                ${ungettext('%s file changed', '%s files changed', len(c.files)) % len(c.files)}
            % else:
                ${ungettext('%s file changed with %s insertions and %s deletions','%s files changed with %s insertions and %s deletions', len(c.files)) % (len(c.files),c.lines_added,c.lines_deleted)}:
            %endif

            </div>
            <div class="cs_files">
              %if not c.files:
                 <span class="empty_data">${_('No files')}</span>
              %endif
              %for fid, change, f, stat in c.files:
                  <div class="cs_${change}">
                    <div class="node">${h.link_to(h.safe_unicode(f),h.url.current(anchor=fid, **request.GET.mixed()))}</div>
                    <div class="changes">${h.fancy_file_stats(stat)}</div>
                  </div>
              %endfor
            </div>
            % if c.limited_diff:
              <h5>${_('Changeset was too big and was cut off...')} <a href="${h.url.current(fulldiff=1, **request.GET.mixed())}">${_('Show full diff')}</a></h5>
            % endif
        </div>
    </div>

    ## diff block
    <%namespace name="diff_block" file="/changeset/diff_block.html"/>
    %for fid, change, f, stat in c.files:
      ${diff_block.diff_block_simple([c.changes[fid]])}
    %endfor
    % if c.limited_diff:
      <h4>${_('Changeset was too big and was cut off...')} <a href="${h.url.current(fulldiff=1, **request.GET.mixed())}">${_('Show full diff')}</a></h4>
    % endif
     <script type="text/javascript">

      YUE.onDOMReady(function(){

          YUE.on(YUQ('.diff-menu-activate'),'click',function(e){
              var act = e.currentTarget.nextElementSibling;

              if(YUD.hasClass(act,'active')){
                  YUD.removeClass(act,'active');
                  YUD.setStyle(act,'display','none');
              }else{
                  YUD.addClass(act,'active');
                  YUD.setStyle(act,'display','');
              }
          });
      })
    </script>
    </div>
</%def>
