## Changesets table !
<div class="container">
  %if not c.cs_ranges:
    <span class="empty_data">${_('No changesets')}</span>
  %else:
    <table class="compare_view_commits noborder">
    %for cs in reversed(c.cs_ranges):
        <tr>
        <td>
          %if cs.raw_id in c.statuses:
            <div title="${_('Changeset status: %s') % c.statuses[cs.raw_id][1]}" class="changeset-status-ico"><img src="${h.url('/images/icons/flag_status_%s.png' % c.statuses[cs.raw_id][0])}" /></div>
          %endif
        </td>
        <td><span class="tooltip" title="${h.tooltip(h.age(cs.date))}">${cs.date}</span></td>
        <td><div class="gravatar"><img alt="gravatar" src="${h.gravatar_url(h.email_or_none(cs.author),14)}"/></div></td>
        <td><div class="author">${h.person(cs.author)}</div></td>
        <td>${h.link_to('r%s:%s' % (cs.revision,h.short_id(cs.raw_id)),h.url('changeset_home',repo_name=c.other_repo.repo_name,revision=cs.raw_id))}
        %if c.as_form:
          ${h.hidden('revisions',cs.raw_id)}
        %endif
        </td>
        <td>
        %if cs.branch:
        <span class="branchtag">${cs.branch}</span>
        %endif
        </td>
        <td><div class="message tooltip" title="${h.tooltip(cs.message)}" style="white-space:normal">${h.urlify_commit(h.shorter(cs.message, 60),c.repo_name)}</div></td>
        </tr>
    %endfor
    </table>
    %if c.ancestor:
    <span class="ancestor">${_('Ancestor')}:
      ${h.link_to(h.short_id(c.ancestor),h.url('changeset_home',repo_name=c.repo_name,revision=c.ancestor))}
    </span>
    %endif
    %if c.as_form:
      ${h.hidden('ancestor_rev',c.ancestor)}
      ${h.hidden('merge_rev',c.cs_ranges[-1].raw_id)}
    %endif
  %endif
</div>
