## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('%s Followers') % c.repo_name} &middot; ${c.rhodecode_name}
</%def>

<%def name="breadcrumbs_links()">
    ${_('Followers')}
</%def>

<%def name="page_nav()">
    ${self.menu('repositories')}
</%def>
<%def name="main()">
${self.repo_context_bar('followers')}
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>
    <!-- end box / title -->
    <div class="table">
        <div id="followers">
            ${c.followers_data}
        </div>
    </div>
</div>
</%def>
