## -*- coding: utf-8 -*-

<%inherit file="base/base.html"/>
<%def name="title()">
    ${c.repos_prefix} Mercurial Repositories
</%def>
<%def name="breadcrumbs()">
<h1>${c.repos_prefix} Mercurial Repositories</h1>
</%def>
<%def name="page_nav()">
	<li class="current">${_('Home')}</li>
	<li>${h.link_to(u'Admin',h.url('admin_home'))}</li>
</%def>
<%def name="main()">
	<%def name="get_sort(name)">
		<a href="?sort=${name.lower().replace(' ','-')}">${name}</a>
	</%def>
	<table>
	  <tr>
	    <td>${get_sort(_('Name'))}</td>
	    <td>${get_sort(_('Description'))}</td>
	    <td>${get_sort(_('Last change'))}</td>
	    <td>${get_sort(_('Tip'))}</td>
	    <td>${get_sort(_('Contact'))}</td>
	  </tr>	
	%for cnt,repo in enumerate(c.repos_list):
 		<tr class="parity${cnt%2}">
		    <td><a href="/${repo['name']}">${repo['name']}</a></td>
		    <td>${repo['desc']}</td>
	        <td>${repo['last_change']}</td>
	        <td>r${repo['rev']}:${repo['tip']}</td>
	        <td>${repo['contact']}</td>
	        <td class="indexlinks">
	        	<a href="/${repo['name']}/archive/tip.zip">zip</a> 
	        	<a href="/${repo['name']}/archive/tip.tar.gz">gz</a> 
	        	<a href="/${repo['name']}/archive/tip.tar.bz2">bz2</a> 
	        </td>
			<td>
				<div class="rss_logo">
				<a href="/${repo['name']}/rss-log">RSS</a>
				<a href="/${repo['name']}/atom-log">Atom</a>
				</div>
			</td>        
		</tr>
	%endfor
	</table>
</%def>    
