## -*- coding: utf-8 -*-
<%!
from pylons_app.lib import filters
%>
<%inherit file="base/base.html"/>
<%def name="title()">
    ${c.repos_prefix} Mercurial Repositories
</%def>
<%def name="breadcrumbs()">
	${c.repos_prefix} Mercurial Repositories
</%def>
<%def name="page_nav()">
	${self.menu('home')}
</%def>
<%def name="main()">
	<%def name="get_sort(name)">
		<%name_slug = name.lower().replace(' ','_') %>
		%if name_slug == c.cs_slug:
			<span style="font-weight: bold;text-decoration: underline;">${name}</span>
		%else:
			<span style="font-weight: bold">${name}</span>
		%endif
		<a style="color:#FFF" href="?sort=${name_slug}">&darr;</a>
		<a style="color:#FFF" href="?sort=-${name_slug}">&uarr;</a>
	</%def>
	<table class="table_disp">
	  <tr class="header">
	    <td>${get_sort(_('Name'))}</td>
	    <td>${get_sort(_('Description'))}</td>
	    <td>${get_sort(_('Last change'))}</td>
	    <td>${get_sort(_('Tip'))}</td>
	    <td>${get_sort(_('Contact'))}</td>
	    <td>${_('RSS')}</td>
	    <td>${_('Atom')}</td>
	  </tr>	
	%for cnt,repo in enumerate(c.repos_list):
 		<tr class="parity${cnt%2}">
		    <td>${h.link_to(repo['name'],
		    	h.url('summary_home',repo_name=repo['name']))}</td>
		    <td title="${repo['description']}">${h.truncate(repo['description'],60)}</td>
	        <td>${repo['last_change']|n,filters.age}</td>
	        <td>${h.link_to('r%s:%s' % (repo['rev'],repo['tip']),
		        h.url('changeset_home',repo_name=repo['name'],revision=repo['tip']),
	        	class_="tooltip",
		    	tooltip_title=h.tooltip(repo['last_msg']))}</td>
	        <td title="${repo['contact']}">${repo['contact']|n,filters.person}</td>
			<td>
				<a title="${_('Subscribe to %s rss feed')%repo['name']}" class="rss_logo"  href="${h.url('rss_feed_home',repo_name=repo['name'])}"></a>
			</td>        
			<td>
				<a title="${_('Subscribe to %s atom feed')%repo['name']}"  class="atom_logo" href="${h.url('atom_feed_home',repo_name=repo['name'])}"></a>
			</td>
		</tr>
	%endfor
	</table>
</%def>    
