## -*- coding: utf-8 -*-
<%!
from pylons_app.lib import filters
%>
<%inherit file="base/base.html"/>
<%def name="title()">
    ${c.repos_prefix} Mercurial Repositories
</%def>
<%def name="breadcrumbs()">
	${c.repos_prefix} Mercurial Repositories
</%def>
<%def name="page_nav()">
	${self.menu('home')}
</%def>
<%def name="main()">
	<%def name="get_sort(name)">
		<%name_slug = name.lower().replace(' ','_') %>
		%if name_slug == c.cs_slug:
			<span style="font-weight: bold;color:#006699">${name}</span>
		%else:
			<span style="font-weight: bold">${name}</span>
		%endif
		<a href="?sort=${name_slug}">&darr;</a>
		<a href="?sort=-${name_slug}">&uarr;</a>
	</%def>
	<table>
	  <tr>
	    <td>${get_sort(_('Name'))}</td>
	    <td>${get_sort(_('Description'))}</td>
	    <td>${get_sort(_('Last change'))}</td>
	    <td>${get_sort(_('Tip'))}</td>
	    <td>${get_sort(_('Contact'))}</td>
	    <td></td>
	    <td></td>
	    <td></td>
	  </tr>	
	%for cnt,repo in enumerate(c.repos_list):
 		<tr class="parity${cnt%2}">
		    <td>${h.link(repo['name'],h.url('summary_home',repo_name=repo['name']))}</td>
		    <td>${repo['description']}</td>
	        <td>${repo['last_change']|n,filters.age}</td>
	        <td>r${repo['rev']}:<a href="/${repo['name']}/rev/${repo['tip']}/">${repo['tip']}</a></td>
	        <td>${repo['contact']}</td>
	        <td class="indexlinks">
	        	%for archive in repo['repo_archives']:
					<a href="/${repo['name']}/archive/${archive['node']}${archive['extension']}">${archive['type']}</a>
				%endfor
	        </td>
			<td>
				${h.link_to(_('RSS'),h.url('rss_feed_home',repo_name=repo['name']),class_='rss_logo')}
			</td>        
			<td>
				${h.link_to(_('Atom'),h.url('rss_feed_home',repo_name=repo['name']),class_='atom_logo')}
			</td>
		</tr>
	%endfor
	</table>
</%def>    
