## -*- coding: utf-8 -*-
<%inherit file="base/base.html"/>
<%def name="page_title()">
    ${_('Wire transfer confirmation')}
</%def>

<%def name="body()">
    <h3> ${h.link('Home','/')} / ${_('Wire transfer confirmation')}</h3>
        <table class="editor_disp">
		    % for k,v in c.form_result.items():
		      %if k not in ['_authentication_token','recipient','send']:
	              <tr>
	                  <td class="label">${k}</td>
	                  <td>${v}</td>
	              </tr>
	          %endif
		    % endfor
        </table>
</%def>