<%inherit file="base/base.html"/>
<%!
from pylons_app.lib import filters
%>
<%def name="title()">
    ${_('Repository managment')}
</%def>
<%def name="breadcrumbs()">
    ${h.link_to(u'Home',h.url('/'))}
    / 
    ${h.link_to(c.repo_name,h.url('summary_home',repo_name=c.repo_name))}
    /
    ${_('summary')}
</%def>
<%def name="page_nav()">
        <form action="log">
            <dl class="search">
                <dt><label>Search: </label></dt>
                <dd><input type="text" name="rev" /></dd>
            </dl>
        </form>

		${self.menu('summary')}    
</%def>
<%def name="main()">

    <h2 class="no-link no-border">${_('Mercurial Repository Overview')}</h2>
    <dl class="overview">
        <dt>${_('name')}</dt>
        <dd>${c.repo_info.name}</dd>
        <dt>${_('description')}</dt>
        <dd>${c.repo_info.description}</dd>
        <dt>${_('contact')}</dt>
        <dd>${c.repo_info.contact}</dd>
        <dt>${_('last change')}</dt>
        <dd>${c.repo_info.last_change|n,filters.rfc822date} - ${c.repo_info.last_change|n,filters.age}</dd>
        <dt>${_('url')}</dt>
        <dd><pre>$ hg clone <a href="${c.clone_repo_url}">${c.clone_repo_url}</a></pre></dd>
        <dt>${_('Download')}</dt>
        <dd>
       	%for archive in c.repo_info._get_archives():
				| <a href="/${c.repo_info.name}/archive/${archive['node']}${archive['extension']}">
				${c.repo_info.name}.${archive['type']}
				</a>
		%endfor
		| 
        </dd>
    </dl>

    <h2><a href="{url}shortlog">Changes</a></h2>
    <table>
	%for cnt,cs in enumerate(c.repo_changesets):
		<tr class="parity${cnt%2}">
			<td>${cs._ctx.date()|n,filters.age}</td>
			<td>${cs.author}</td>
			<td>${h.link_to(cs.message,h.url('rev/'+str(cs._ctx)))}</td>
			<td class="nowrap">
			${h.link_to(_('changeset'),h.url('file/'+str(cs._ctx)))}
			|
			${h.link_to(_('files'),h.url('file/'+str(cs._ctx)))}
			</td>
		</tr>
	%endfor
        <tr class="light">
            <td colspan="4"><a class="list" href="shortlog">...</a></td>
        </tr>
    </table>

    <h2><a href="{url}tags">${_('Tags')}</a></h2>
    <table>
		%for tag in c.repo_tags:
			${tag}
		%endfor
        <tr class="light">
            <td colspan="3"><a class="list" href="tags">...</a></td>
        </tr>
    </table>

    <h2 class="no-link">Branches</h2>
    <table>
		%for branch in c.repo_branches:
			${branch}
		%endfor
        <tr class="light">
          <td colspan="4"><a class="list"  href="branches">...</a></td>
        </tr>
    </table>

</%def>    