<%inherit file="base/base.html"/>
<%def name="title()">
    ${_('Repository managment')}
</%def>
<%def name="breadcrumbs()">
    ${h.link_to(u'Home',h.url('/'))}
    / 
    ${h.link_to(u'Admin',h.url('admin_home'))}
    /
    ${h.link_to(u'Users managment',h.url('users'))}
</%def>
<%def name="page_nav()">
    <li>${h.link_to(u'Home',h.url('/'))}</li>
    <li class="current">${_('Admin')}</li>
</%def>
<%def name="main()">
    <ul class="submenu">
        <li>
            ${h.link_to(u'Repos',h.url('repos'))}
        </li>
        <li class="current_submenu">
            ${h.link_to(u'Users',h.url('users'))}
        </li>
    </ul>
	<div>
        <h2>${_('Mercurial users')}</h2>
        <table>
         <tr>
            <th>Id</th>
            <th>Username</th>
            <th>Active</th>
            <th>Admin</th>
            <th>Action</th>
         </tr>
            %for i in c.users_list:
                <tr>
                    <td>${i[0]}</td>
                    <td>${h.link_to(i[1],h.url('user', id=i[0]))}</td>
                    <td>${i[3]}</td>
                    <td>${i[4]}</td>
                    <td>
	                    ${h.form(url('user', id=i[0]),method='delete')}
	                    	${h.submit('remove','remove',class_="submit")}
	                    ${h.end_form()}
        			</td>
                </tr>
            %endfor
        </table>        
    </div>

</%def>    