## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Repository managment')}
</%def>
<%def name="breadcrumbs()">
    ${h.link_to(u'Home',h.url('/'))}
    / 
    ${h.link_to(c.repo_name,h.url('shortlog_home',repo_name=c.repo_name))}
    /
    ${_('shortlog')}
</%def>
<%def name="page_nav()">
	${self.menu('shortlog')}     
</%def>
<%def name="main()">

    <h2 class="no-link no-border">${_('Shortlog')}</h2>

	<div id="shortlog_data">
		${c.shortlog_data}
	</div>
</%def>    