## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Admin journal')} - ${c.rhodecode_name}
</%def>

<%def name="breadcrumbs_links()">
    <form id="filter_form">
    <input class="q_filter_box" id="q_filter" size="15" type="text" name="filter" value="${c.search_term or _('quick filter...')}"/>
    <input type='submit' value="${_('filter')}" class="ui-btn"/>
    ${_('Admin journal')}
    </form>
    ${h.end_form()}
</%def>

<%def name="page_nav()">
	${self.menu('admin')}
</%def>
<%def name="main()">
<div class="box">
	<!-- box / title -->
	<div class="title">
	    ${self.breadcrumbs()}
	</div>
	<!-- end box / title -->
	<div class="table">
	    <div id="user_log">
	        ${c.log_data}
	    </div>
	</div>
</div>

<script>
YUE.on('q_filter','click',function(){
    YUD.get('q_filter').value = '';
});
YUE.on('filter_form','submit',function(e){
	YUE.preventDefault(e)
    var val = YUD.get('q_filter').value;
	window.location = "${url.current(filter='__FILTER__')}".replace('__FILTER__',val);
 });
</script>
</%def>

