## -*- coding: utf-8 -*-
%if c.users_log:
<table>
	<tr>
		<th class="left">${_('Username')}</th>
		<th class="left">${_('Action')}</th>
		<th class="left">${_('Repository')}</th>
		<th class="left">${_('Date')}</th>
		<th class="left">${_('From IP')}</th>
	</tr>

	%for cnt,l in enumerate(c.users_log):
	<tr class="parity${cnt%2}">
		<td>${h.link_to(l.user.username,h.url('edit_user', id=l.user.user_id))}</td>
		<td>${h.action_parser(l)}</td>
		<td>
		%if l.repository:
		  ${h.link_to(l.repository.repo_name,h.url('summary_home',repo_name=l.repository.repo_name))}
		%else:
		  ${l.repository_name}
		%endif
		</td>
		
		<td>${l.action_date}</td>
		<td>${l.user_ip}</td>
	</tr>
	%endfor
</table>

<script type="text/javascript">
  var data_div = 'user_log';
  YAHOO.util.Event.onDOMReady(function(){
	YAHOO.util.Event.addListener(YAHOO.util.Dom.getElementsByClassName('pager_link'),"click",function(){
			YAHOO.util.Dom.setStyle('shortlog_data','opacity','0.3');});});
</script>
		
		
<div class="pagination-wh pagination-left">
${c.users_log.pager('$link_previous ~2~ $link_next',
onclick="""YAHOO.util.Connect.asyncRequest('GET','$partial_url',{
success:function(o){YAHOO.util.Dom.get(data_div).innerHTML=o.responseText;
YAHOO.util.Event.addListener(YAHOO.util.Dom.getElementsByClassName('pager_link'),"click",function(){
		YAHOO.util.Dom.setStyle(data_div,'opacity','0.3');});		
YAHOO.util.Dom.setStyle(data_div,'opacity','1');}},null); return false;""")}
</div>
%else: 
	${_('No actions yet')} 
%endif
