## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('My Notifications')} ${c.rhodecode_user.username} - ${c.rhodecode_name}
</%def>

<%def name="breadcrumbs_links()">
    ${_('My Notifications')}
</%def>

<%def name="page_nav()">
	${self.menu('admin')}
</%def>

<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}       
        <ul class="links">
            <li>
              <span style="text-transform: uppercase;"><a href="#">${_('Compose message')}</a></span>
            </li>          
        </ul>            
    </div>
    % if c.notifications:
      %for notification in c.notifications:
          <div class="table">
            <h4>${notification.subject}</h4>
            <div>${h.rst(notification.body)}</div>
          </div>
      %endfor
    %else:
        <div class="table">${_('No notifications here yet')}</div>
    %endif
</div>    
</%def>  
