## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Add user')} - ${c.rhodecode_name}
</%def>
<%def name="breadcrumbs_links()">
    ${h.link_to(_('Admin'),h.url('admin_home'))}
    &raquo;
    ${h.link_to(_('Users'),h.url('users'))}
    &raquo;
    ${_('add new user')}
</%def>

<%def name="page_nav()">
	${self.menu('admin')}
</%def>

<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>
    <!-- end box / title -->
    ${h.form(url('users'))}
    <div class="form">
        <!-- fields -->
        <div class="fields">
             <div class="field">
                <div class="label">
                    <label for="username">${_('Username')}:</label>
                </div>
                <div class="input">
                    ${h.text('username',class_='small')}
                </div>
             </div>

             <div class="field">
                <div class="label">
                    <label for="password">${_('Password')}:</label>
                </div>
                <div class="input">
                    ${h.password('password',class_='small')}
                </div>
             </div>

             <div class="field">
                <div class="label">
                    <label for="password_confirmation">${_('Password confirmation')}:</label>
                </div>
                <div class="input">
                    ${h.password('password_confirmation',class_="small",autocomplete="off")}
                </div>
             </div>

             <div class="field">
                <div class="label">
                    <label for="name">${_('First Name')}:</label>
                </div>
                <div class="input">
                    ${h.text('name',class_='small')}
                </div>
             </div>

             <div class="field">
                <div class="label">
                    <label for="lastname">${_('Last Name')}:</label>
                </div>
                <div class="input">
                    ${h.text('lastname',class_='small')}
                </div>
             </div>

             <div class="field">
                <div class="label">
                    <label for="email">${_('Email')}:</label>
                </div>
                <div class="input">
                    ${h.text('email',class_='small')}
                </div>
             </div>

             <div class="field">
                <div class="label label-checkbox">
                    <label for="active">${_('Active')}:</label>
                </div>
                <div class="checkboxes">
                    ${h.checkbox('active',value=True,checked='checked')}
                </div>
             </div>

            <div class="buttons">
              ${h.submit('save',_('save'),class_="ui-button")}
            </div>
    	</div>
    </div>
    ${h.end_form()}
</div>
</%def>
