## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Users administration')} - ${c.rhodecode_name}
</%def>

<%def name="breadcrumbs_links()">
    ${h.link_to(_('Admin'),h.url('admin_home'))} &raquo; ${_('Users')}
</%def>

<%def name="page_nav()">
	${self.menu('admin')}
</%def>

<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
        <ul class="links">
          <li>
            <span>${h.link_to(_(u'ADD NEW USER'),h.url('new_user'))}</span>
          </li>
          
        </ul>        
    </div>
    <!-- end box / title -->
    <div class="table">
        <table class="table_disp">
        <tr class="header">
        	<th></th>
            <th class="left">${_('username')}</th>
            <th class="left">${_('name')}</th>
            <th class="left">${_('lastname')}</th>
            <th class="left">${_('last login')}</th>
            <th class="left">${_('active')}</th>
            <th class="left">${_('admin')}</th>
            <th class="left">${_('ldap')}</th>
            <th class="left">${_('action')}</th>
        </tr>
            %for cnt,user in enumerate(c.users_list):
             %if user.name !='default':
                <tr class="parity${cnt%2}">
                	<td><div class="gravatar"><img alt="gravatar" src="${h.gravatar_url(user.email,24)}"/> </div></td>
                    <td>${h.link_to(user.username,h.url('edit_user', id=user.user_id))}</td>
                    <td>${user.name}</td>
                    <td>${user.lastname}</td>
                    <td>${user.last_login}</td>
                    <td>${h.bool2icon(user.active)}</td>
                    <td>${h.bool2icon(user.admin)}</td>
                    <td>${h.bool2icon(bool(user.ldap_dn))}</td>
                    <td>
                        ${h.form(url('delete_user', id=user.user_id),method='delete')}
                            ${h.submit('remove_',_('delete'),id="remove_user_%s" % user.user_id,
                            class_="delete_icon action_button",onclick="return confirm('"+_('Confirm to delete this user')+"');")}
                        ${h.end_form()}
                    </td>
                </tr>
             %endif
            %endfor
        </table>
    </div>
</div>
</%def>
