## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('%s Forks') % c.repo_name} - ${c.rhodecode_name}
</%def>

<%def name="breadcrumbs_links()">
    ${_('Forks')}
</%def>

<%def name="page_nav()">
    ${self.menu('forks')}
</%def>
<%def name="main()">
${self.context_bar('forks')}
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>
    <!-- end box / title -->
    <div class="table">
        <div id="forks">
            ${c.forks_data}
        </div>
    </div>
</div>
</%def>
