## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${c.repo_name} ${_('Fork')} - ${c.rhodecode_name}
</%def>

<%def name="breadcrumbs_links()">
    ${h.link_to(u'Home',h.url('/'))}
    &raquo;
    ${h.link_to(c.repo_info.repo_name,h.url('summary_home',repo_name=c.repo_info.repo_name))}
    &raquo;
    ${_('fork')}
</%def>

<%def name="page_nav()">
	${self.menu('')}
</%def>
<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>
    ${h.form(url('repo_fork_create_home',repo_name=c.repo_info.repo_name))}
    <div class="form">
        <!-- fields -->
        <div class="fields">
            <div class="field">
              <div class="label">
                  <label for="repo_name">${_('Fork name')}:</label>
              </div>
              <div class="input">
                  ${h.text('repo_name',class_="small")}
                  ${h.hidden('repo_type',c.repo_info.repo_type)}
                  ${h.hidden('fork_parent_id',c.repo_info.repo_id)}
              </div>
            </div>
            <div class="field">
                 <div class="label">
                     <label for="repo_group">${_('Repository group')}:</label>
                 </div>
                 <div class="input">
                     ${h.select('repo_group','',c.repo_groups,class_="medium")}
                 </div>
            </div>
            <div class="field">
                <div class="label label-textarea">
                    <label for="description">${_('Description')}:</label>
                </div>
                <div class="textarea text-area editor">
                    ${h.textarea('description',cols=23,rows=5)}
                </div>
             </div>
            <div class="field">
                <div class="label label-checkbox">
                    <label for="private">${_('Private')}:</label>
                </div>
                <div class="checkboxes">
                    ${h.checkbox('private',value="True")}
                </div>
            </div>
            <div class="field">
                <div class="label label-checkbox">
                    <label for="private">${_('Copy permissions')}:</label>
                </div>
                <div class="checkboxes">
                    ${h.checkbox('copy_permissions',value="True")}
                </div>
             </div>
            <div class="field">
                <div class="label label-checkbox">
                    <label for="private">${_('Update after clone')}:</label>
                </div>
                <div class="checkboxes">
                    ${h.checkbox('update_after_clone',value="True")}
                </div>
             </div>
	        <div class="buttons">
	          ${h.submit('',_('fork this repository'),class_="ui-button")}
	        </div>
        </div>
    </div>
    ${h.end_form()}
</div>
</%def>
