## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Repositories administration')}
</%def>
<%def name="breadcrumbs()">
	${h.link_to(u'Admin',h.url('admin_home'))}
	 /  
	 ${_('Repos')}
</%def>
<%def name="page_nav()">
	${self.menu('admin')}
	${self.submenu('repos')}
</%def>
<%def name="main()">
	<div>
        <h2>${_('Repositories administration')}</h2>
        <table class="table_disp">
        <tr class="header">
            <td>${_('name')}</td>
            <td>${_('last revision')}</td>
            <td>${_('action')}</td>
        </tr>
	        %for cnt,repo in enumerate(c.repos_list):
	 		<tr class="parity${cnt%2}">
			    <td>${h.link_to(repo['name'],h.url('edit_repo',repo_name=repo['name']))}</td>
		        <td>r${repo['rev']}:${repo['tip']}</td>
                <td>
                  ${h.form(url('repo', repo_name=repo['name']),method='delete')}
                  	${h.submit('remove','delete',class_="delete_icon action_button",onclick="return confirm('Confirm to delete this repository');")}
                  ${h.end_form()}
     			</td>
			</tr>
			%endfor
		</table>
		<span class="add_icon">${h.link_to(u'add repo',h.url('new_repo'))}</span>    
    </div>
</%def>    
