## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Repositories administration')}
</%def>
<%def name="breadcrumbs()">
	${h.link_to(u'Admin',h.url('admin_home'))}
	 /  
	${_('Repos')}
</%def>
<%def name="page_nav()">
	${self.menu('admin')}
	${self.submenu('repos')}
</%def>
<%def name="main()">
	<div>
        <h2>${_('Repositories')} - ${_('add new')}</h2>
        ${h.form(url('repos'))}
        <table>
        	<tr>
        		<td>${_('Name')}</td>
        		<td>${h.text('repo_name',c.new_repo)}</td>
        		<td>${self.get_form_error('repo_name')}</td>
        	</tr>
        	<tr>
        		<td>${_('Description')}</td>
        		<td>${h.textarea('description',cols=23,rows=5)}</td>
        		<td>${self.get_form_error('description')}</td>
        	</tr>
        	<tr>
        		<td>${_('Private')}</td>
        		<td>${h.checkbox('private',value="True")}</td>
        		<td>${self.get_form_error('private')}</td>
        	</tr>
        	<tr>
        		<td></td>
        		<td>${h.submit('add','add')}</td>
        	</tr>
        	        	        	
        </table>
        ${h.end_form()}
    </div>
</%def>   
