## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Repositories administration')}
</%def>
<%def name="breadcrumbs()">
	${h.link_to(u'Admin',h.url('admin_home'))}
	 /  
</%def>
<%def name="page_nav()">
	${self.menu('admin')}
	${self.submenu('repos')}
</%def>
<%def name="main()">
	<div>
        <h2>${_('Repositories administration')}</h2>
        <table>
	        %for cnt,repo in enumerate(c.repos_list):
	 		<tr class="parity${cnt%2}">
			    <td>${h.link_to(repo['name'],h.url('summary_home',repo_name=repo['name']))}</td>
		        <td>r${repo['rev']}:${repo['tip']}</td>
                <td>
                  ${h.form(url('repo', id=repo['name']),method='delete')}
                  	${h.submit('remove','remove',class_="submit",onclick="return confirm('Confirm to delete this repository');")}
                  ${h.end_form()}
     			</td>
			</tr>
			%endfor
		</table>
    </div>
</%def>    
