## -*- coding: utf-8 -*-
<%inherit file="/base/base.html"/>

<%def name="title()">
    ${_('Permissions administration')} - ${c.rhodecode_name}
</%def>

<%def name="breadcrumbs_links()">
    ${h.link_to(_('Admin'),h.url('admin_home'))}
    &raquo;
    ${_('Permissions')}
</%def>

<%def name="page_nav()">
	${self.menu('admin')}
</%def>

<%def name="main()">
<div class="box">
    <!-- box / title -->
    <div class="title">
        ${self.breadcrumbs()}
    </div>
    <h3>${_('Default permissions')}</h3>
    ${h.form(url('permission', id='default'),method='put')}
    <div class="form">
        <!-- fields -->
        <div class="fields">
            <div class="field">
                <div class="label label-checkbox">
                    <label for="anonymous">${_('Anonymous access')}:</label>
                </div>
                <div class="checkboxes">
                    <div class="checkbox">
                        ${h.checkbox('anonymous',True)}
                    </div>
                </div>
            </div>
			<div class="field">
				<div class="label label-select">
					<label for="default_perm">${_('Repository permission')}:</label>
				</div>
				<div class="select">
					${h.select('default_perm','',c.perms_choices)}

		                ${h.checkbox('overwrite_default','true')}
		                <label for="overwrite_default">
		                <span class="tooltip"
		                title="${h.tooltip(_('All default permissions on each repository will be reset to choosen permission, note that all custom default permission on repositories will be lost'))}">
		                ${_('overwrite existing settings')}</span> </label>
				</div>
			</div>
			<div class="field">
		        <div class="label">
		            <label for="default_register">${_('Registration')}:</label>
		        </div>
				<div class="select">
					${h.select('default_register','',c.register_choices)}
				</div>
			</div>
             <div class="field">
                <div class="label">
                    <label for="default_create">${_('Repository creation')}:</label>
                </div>
				<div class="select">
					${h.select('default_create','',c.create_choices)}
				</div>
             </div>

	        <div class="buttons">
	        ${h.submit('set',_('set'),class_="ui-button")}
	        </div>
        </div>
    </div>
    ${h.end_form()}
</div>
</%def>
