## -*- coding: utf-8 -*-
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link rel="icon" href="/images/hgicon.png" type="image/png" />
    <meta name="robots" content="index, nofollow"/>
    <title>${next.title()}</title>
    ${self.css()}
    ${self.js()}
</head>

<body>
<div id="container">
    <div class="page-header">
        <h1>
            ${next.breadcrumbs()}
        </h1>
        <ul class="page-nav">
            ${self.page_nav()}
        </ul>
    </div>
    ${next.main()}
    <div class="page-footer">
        Mercurial App &copy; 2010
    </div>   

    <div id="powered-by">
        <p>
        <a href="http://mercurial.selenic.com/" title="Mercurial">
            <img src="/images/hglogo.png" width="75" height="90" alt="mercurial"/></a>
        </p>
    </div>

    <div id="corner-top-left"></div>
    <div id="corner-top-right"></div>
    <div id="corner-bottom-left"></div>
    <div id="corner-bottom-right"></div>

</div>
</body>
</html>

<%def name="page_nav()">

	${self.menu()}

</%def>


<%def name="menu(current)">
        <ul class="page-nav">

            <li 
            %if current=='summary':
            	class='current' 
            %endif
            >${h.link_to_unless(current=='summary',_('summary'),h.url('summary_home',repo_name=c.repo_name))}</li>
            <li 
            %if current=='changelog':
            	class='current' 
            %endif
            >${h.link_to_unless(current=='changelog',_('changelog'),h.url('changelog_home',repo_name=c.repo_name))}</li>
            <li 
            %if current=='branches':
            	class='current' 
            %endif
            >${h.link_to_unless(current=='branches',_('branches'),h.url('branches_home',repo_name=c.repo_name))}</li>
            <li 
            %if current=='tags':
            	class='current' 
            %endif
            >${h.link_to_unless(current=='tags',_('tags'),h.url('tags_home',repo_name=c.repo_name))}</li>
            <li 
            %if current=='graph':
            	class='current' 
            %endif
            >${h.link_to_unless(current=='graph',_('graph'),h.url('graph_home',repo_name=c.repo_name))}</li>
            <li 
            %if current=='files':
            	class='current' 
            %endif
            >${h.link_to_unless(current=='files',_('files'),h.url('files_home',repo_name=c.repo_name))}</li>
        </ul>
</%def>

<%def name="css()">
<link rel="stylesheet" href="/css/monoblue_custom.css" type="text/css" />
</%def>

<%def name="js()">
<script type="text/javascript" src="/js/yui/utilities/utilities.js"></script>
</%def>